<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>{$page_title}</title>
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1,user-scalable=no">
		<!-- 禁止浏览器从本地缓存中调阅页面。--> 
		<meta http-equiv="pragram" content="no-cache"> 
		<!--网页不保存在缓存中，每次访问都刷新页面。--> 
		<meta http-equiv="cache-control" content="no-cache, must-revalidate"> 
		<!--同上面意思差不多，必须重新加载页面--> 
		<meta http-equiv="expires" content="0"> 
		<!-- Mobile Devices Support @begin -->
		<meta content="telephone=no, address=no" name="format-detection">
		<meta name="apple-mobile-web-app-capable" content="yes" /> <!-- apple devices fullscreen -->
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		<script type="text/javascript" src="templates/{TEMPLATE_NAME}/js/jquery-2.2.0.js"></script>
		<script type="text/javascript" src="templates/{TEMPLATE_NAME}/js/common.js"></script>
		<link rel="stylesheet" href="templates/{TEMPLATE_NAME}/css/style.css">
		<link rel="stylesheet" href="templates/{TEMPLATE_NAME}/css/page2.css">
	</head>
	<body>
		<div class="container">
		  <div  class="bg bg4"> 
		    <div class="box box2">
		      <div class="box_form">
		        <form class="form-box">
		          <div class="box_top">
		            <div class="img_box">
		              <img class="box_logo" src="templates/{TEMPLATE_NAME}/img/logo.png"></img>
		            </div>
		            <div class="title">收货信息</div>
		          </div>
		          <div class="form_con">
		            <div class="inputs_box">
					  <input name="tihuo_card_no"  type="hidden" value="{$tihuo_card_no}"/>
					  <input name="tihuo_password"  type="hidden" value="{$tihuo_password}"/>
		              <div class="input_box">
		                <text class="input_text">省市区</text>
		                <input name="user_address"  type="text" />
		              </div>
		              <div class="input_box">
		                <text class="input_text" >详细地址</text>
		                <input name="street_address"  type="text" />
		              </div>
		              <div class="input_box">
		                <text class="input_text" >联系方式</text>
		                <input name="mobile" type="tel" />
		              </div>
		              <div class="input_box">
		                <text class="input_text" >收&nbsp;&nbsp;件&nbsp;&nbsp;人</text>
		                <input name="recevier" type="text" />
		              </div>
		            </div>
		              <button type="button" class="submit">确定</button>
		          </div>  
		        </form>
		      </div>
		    </div>
		  </div>
		  <div class="pop-error" style="display:none">
		  	<p>请输入手机号</p>
		  </div>
		</div>
	</body>
	<script type="text/javascript">
		$(function(){
			$('.submit').click(function(){

				var tihuo_card_no = $("input[name^='tihuo_card_no']").val();
				var tihuo_password = $("input[name^='tihuo_password']").val();

				var address_city = $("input[name^='user_address']").val();
				if(!$("input[name^='user_address']").val()){
					$('.pop-error p').text('请输入省市区');
					$('.pop-error').fadeIn();
					doFade();
					return 
				}

				var address_street = $("input[name^='street_address']").val();
				if(!$("input[name^='street_address']").val()){
					$('.pop-error p').text('请输入详细地址');
					$('.pop-error').fadeIn();
					doFade();
					return 
				}

				var lianxidianhua = $("input[name^='mobile']").val();
				if(!$("input[name^='mobile']").val()){
					$('.pop-error p').text('请输入联系方式');
					$('.pop-error').fadeIn();
					doFade();
					return 
				}
				if(!checkMobile($("input[name^='mobile']").val())){
					$('.pop-error p').text('请输入正确的手机号码');
					$('.pop-error').fadeIn();
					doFade();
					return 
				}

				var shuohuoren = $("input[name^='recevier']").val();
				if(!$("input[name^='recevier']").val()){
					$('.pop-error p').text('请输入收件人');
					$('.pop-error').fadeIn();
					doFade();
					return 
				}

				$(this).attr('disabled','disabled');
				$(this).html('请稍候...');
				var that = $(this)

				//ajax提交到后台，并保存收货人信息
				$.ajax({
					type:"post",
					async:'false',//false表示同步，true表示异步
					url: 'index.php?mod=tihuo_apply&act=do_send_shouhuoinfo',
					data:{
						tihuo_card_no:tihuo_card_no,
						tihuo_password:tihuo_password,
						address_city:address_city,
						address_street:address_street,
						lianxidianhua:lianxidianhua,
						shuohuoren:shuohuoren
					},
					beforeSend: function(XMLHttpRequest){

					},
					success:function(res){//res是json格式
						res = jQuery.parseJSON( res );
						if(res.done)//服务器返回成功状态
						{
							//跳转到恭喜提货成功页
							location.href = "index.php?mod=tihuo_apply&act=tihuo_apply_success";
						}
						else//服务器反回失败状态
						{
							if(res.retval == '40010')
							{
								//未登录，失败
								$('.pop-error p').text('请先登录，正在跳转登录页');
								$('.pop-error').fadeIn();
								doFade();
								location.href = "index.php?mod=login";
								return ;
							}

							$(that).removeAttr('disabled');
							$(that).html('确定');

							$('.pop-error p').text(res.msg);
							$('.pop-error').fadeIn();
							doFade();
							return
						}
					}
				});
			})
		})

	</script>
</html>
















