<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>{$page_title}</title>
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1,user-scalable=no">
		<!-- 禁止浏览器从本地缓存中调阅页面。--> 
		<meta http-equiv="pragram" content="no-cache"> 
		<!--网页不保存在缓存中，每次访问都刷新页面。--> 
		<meta http-equiv="cache-control" content="no-cache, must-revalidate"> 
		<!--同上面意思差不多，必须重新加载页面--> 
		<meta http-equiv="expires" content="0"> 
		<!-- Mobile Devices Support @begin -->
		<meta content="telephone=no, address=no" name="format-detection">
		<meta name="apple-mobile-web-app-capable" content="yes" /> <!-- apple devices fullscreen -->
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		<script type="text/javascript" src="templates/{TEMPLATE_NAME}/js/jquery-2.2.0.js"></script>
		<script type="text/javascript" src="templates/{TEMPLATE_NAME}/js/common.js"></script>
		<link rel="stylesheet" href="templates/{TEMPLATE_NAME}/css/style.css">
		<link rel="stylesheet" href="templates/{TEMPLATE_NAME}/css/index.css">
	</head>
	<body>
	   	
	   	<!--index.wxml-->
		<div class="container">
		  <div  class="bg bg1"> 
		    <div class="box box1">
		      <div class="box_form">
		        
		        <form class="" >
		          <div class="box_top">
		            <div class="img_box">
		              <img class="box_logo" src="templates/{TEMPLATE_NAME}/img/logo.png" />
		            </div>
		            <div class="title">会员登录</div>
		          </div>
		          <div class="form_con">
		            <div class="inputs_box">
		              <div class="input_box">
		                <text class="input_text">手机号码</text>
		                <input name="mobile"  type="tel"/>
		              </div>
		              <div class="input_box">
		                <text class="input_text" >&nbsp;&nbsp;密码</text>
		                <input name="password" type="password" />
		              </div>
		            </div>
		           
		              <button class="submit" type="button">确定</button>
		          </div>
		        
		          
		        </form>

                  <div style="text-align: right;"><a href="index.php?mod=reg" style="font-size: 14px;color: #9a9add;">立即注册</a></div>
		      </div>

		    </div>
		  </div>
		  <div class="pop-error" style="display:none">
		  	<p>请输入手机号</p>
		  </div>

		</div>
		<!--index.wxml-->
		<script type="text/javascript">
			$(function(){
				
				$('.submit').click(function(){
					var mobile = $("input[name^='mobile']").val();
					if(!$("input[name^='mobile']").val()){
						$('.pop-error p').text('请输入手机号码');
						$('.pop-error').fadeIn();
						doFade();
						return 
					}
					if(!checkMobile($("input[name^='mobile']").val())){
						$('.pop-error p').text('请输入正确的手机号码');
						$('.pop-error').fadeIn();
						doFade();
						return 
					}
					var password = $("input[name^='password']").val();
					if(!$("input[name^='password']").val()){
						$('.pop-error p').text('请输入密码');
						$('.pop-error').fadeIn();
						doFade();
						return 
					}

					$(this).attr('disabled','disabled');
					$(this).html('登录中...');
					var that = $(this)
					//ajax登录。登录成功，跳转到提货卡页面，失败给出提示
					$.ajax({
						type:"post",
						async:'false',//false表示同步，true表示异步
						url: 'index.php?mod=login&act=dologin',
						data:{mobile:mobile,password:password},
						beforeSend: function(XMLHttpRequest){

						},
						success:function(res){//res是json格式
							res = jQuery.parseJSON( res );
							if(res.done)//服务器返回成功状态
							{
								//弹出层提示验证码发送成功。
								$('.pop-error p').text('登录成功，为您跳转提货页');
								$('.pop-error').fadeIn();
								doFade();

//								setTimeout(function (){
									//something you want to do after 2000 ms
									//跳转到提货页
									location.href = "index.php?mod=tihuo_apply";
//								},2000);
							}
							else//服务器反回失败状态
							{
								$(that).removeAttr('disabled');
								$(that).html('确定');

								$('.pop-error p').text(res.msg);
								$('.pop-error').fadeIn();
								doFade();
								return
							}
						}
					});

				})
		})


		</script>
	</body>

</html>
















