<!--{template page_header}-->

<div class="main">

<!--{template top_menu}-->

<div class="main_middle" style="width:100%;">
<!--{template left_menu}-->

<div class="workground">
  <div class="workground-title">
    <h2>
        <span>文章列表</span>
    </h2>
  </div>
  
  <div class="workground-content scroll-div">
  <div style="float:left;margin-top: 5px;margin-bottom:10px;">
    <a href="admin.php?mod=cpl&act=add" class="addwatch" target="_self">
      <span><em style="">+</em>新建自定义页面</span>
    </a>
  </div>
  <div style="margin-left: 50px;margin-top:5px;"><input type="button" value="删除选中项" class="btnText" style="cursor:pointer;float:right;" onclick="delete_selected_item('');"></div>
  
  <script type="text/javascript">
$(document).ready(function(){
	 $(".stripe_tb tr").mouseover(function(){
	 $(this).addClass("over");}).mouseout(function(){
	 $(this).removeClass("over");})
	 $(".stripe_tb tr:even").addClass("alt");
});

function all_select_click(t)
{
	//全选复选框被选中
	if($(t).attr("checked")=="checked")//注意这里不能用true来判断。
	{
		//让下面每个条目的复选框都被选中
		$("input[name=one_item_select]").attr("checked",true);
	}
	else//全选复选框被去掉
	{
		//让下面每个条目前的复选框都被去掉
		$("input[name=one_item_select]").attr("checked",false);
	}
	
}
function one_select_click(t)
{
	if($(t).attr("checked")=="checked")//注意这里不能用true来判断。
	{
		
	}
	else
	{
		//让全选复选框去除勾选
		$("#all_item_select").attr('checked',false);
	}
}

</script>
  <style type="text/css">
.stripe_tb th {
/*background: #B5CBE6;*/
color: #333;
line-height: 20px;
height: 23px;
padding: 0 8px;
text-align: left;
font-size: 12px;
	font-weight:normal;
	border-bottom: 1px #ccc solid;
	border-right: 1px solid #ccc;
}

.stripe_tb tr td{
	padding: 5px 8px;
text-align: left;
font-size: 12px;
	vertical-align: top;
}
.stripe_tb tr.alt td {
background: #ecf6fc;
}
.stripe_tb tr.over td {
background: #FEF3D1;
}

.tb_geziimg img{
	width:100px;
	margin:0px 5px 5px 0px;
}
    </style>
    
    <table width="100%" border="0" class="stripe_tb" style="float:left;table-layout:fixed;border-spacing: 0px;">
      
      <thead style="background: url(templates/admin/images/tile_bg.png) 0 -100px;">
      <tr class="">
        <th style="width: 6%;border-left: 1px solid #ccc;">全选<input id="all_item_select" type="checkbox" onclick="all_select_click(this);" style="vertical-align: middle;margin-left: 2px;" /></th> 
        <th style="width: 30%">标题</th>
        <th style="width: 30%;">创建及修改时间</th> 
        <th style="width: 34%;">操作</th> 
      </tr> 
      </thead>  
      <tbody> 
      
      <!--{loop $custompages_info $onecustompage}-->
      <tr class="">
        <td><input name="one_item_select" onclick="one_select_click(this);" type="checkbox" value="{$onecustompage[custompage_id]}" style="margin-top:10px;"/></td> 
        <td>{$onecustompage[title]}</td>
        <td>
            <span>创建时间：{$onecustompage[createtime]}</span><br />
            <span>最后修改时间：{$onecustompage[lastmodifytime]}</span>
        </td> 

        <td>
            <a href="admin.php?mod=cpl&act=edit&cpid={$onecustompage[custompage_id]}" class="blue_a" target="_self" style="margin-right: 10px;">编辑</a>
            <a href="javascript:void(0);" onclick="delete_selected_item('{$onecustompage[custompage_id]}');" class="blue_a" >删除</a>
        </td> 
      </tr>
      <!--{/loop}-->

      </tbody>
    </table>
    
    
    <div style="float:left;width:100%;margin-top:30px;">
    <!--{if !$page_arr[page]}-->
      <div style="float:left;width:100%;text-align:center;">
        <span style="color:red;">当前没有任何自定义页面，请新建自定义页面！</span>
      </div>
    <!--{else}-->
      <!--{template page_list}-->
    <!--{/if}-->
    </div>
    
  </div>



</div>

</div>

<script type="text/javascript">
//批量删除被勾选的条目，或者只删除单个条目
function delete_selected_item(item_id)
{
	options = {
            'onClickYes':function (){
            	var item_ids = '';
            	if(!item_id)
            	{
            		//删除被勾选的条目。得到被勾选的条目的id，组成字符串传到ajax服务端。
                	$("input[name=one_item_select]:checked").each(function(){
                		item_ids = item_ids + $(this).val() + ",";
                	});
            	}
            	else //item_id不为空，说明只单独删除某一个条目
            	{
            		item_ids = item_id;
            	}
            	
            	$.ajax({
            		type:"post",
            		async : true,//false表示同步，true表示异步
            		url:"ajax.php?mod=custompage&act=do_delete_custompage",
            		data:{item_ids:item_ids},
            		beforeSend: function(XMLHttpRequest){
            			
            		},
            		success: function(data){//data是json格式
            			data = jQuery.parseJSON( data );
            			if(data.done)//删除成功
            			{
            				$.jBox.tip('删除成功', 'success');
            				setTimeout('location.reload();', 1000);//1秒后刷新页面
            				
            				return;
            			}
            			else//删除失败
            			{
            				$.jBox.tip(data.msg, 'error');
            				return;
            			}
            		}
            		});
           }
    };
	MessageBox('warn','确定要删除自定义页面吗?','提示', options);
	
}

</script>


</div>
<!--{template page_footer}-->