<div id="ajaxpagelist">
<script type="text/javascript">
$(document).ready(
		function (){
			$("#nav_dialog_second .jbox-close").hide();//去除弹出窗的右上角的叉叉。不能用remove，只能用hide。因为用了remove以后，这个弹出窗无法用$.jBox.close(diaid)函数来关闭。
		}
);

$(document).ready(function(){
	 $(".stripe_tb tr").mouseover(function(){
	 $(this).addClass("over");}).mouseout(function(){
	 $(this).removeClass("over");})
	 $(".stripe_tb tr:even").addClass("alt");
});
</script>

<style type="text/css">
.biaotou{
	background: url(templates/admin/images/tile_bg.png) 0 -100px;
color: #4e4e4e;
height: 22px;
line-height: 22px;
border-left: 1px solid #D5DFE3;
border-right: 1px solid #D5DFE3;
color: #222;
border-bottom: 1px #ccc solid;
  }
  
  .biaotou_item{
	text-align: center;
	border-right: 1px solid #ccc;
	border-left: 1px solid #fff;
	border-collapse: collapse;
  }
  
  .tab_line{
	width:1006px;
	border: 1px solid #e8e8e8;
border-bottom:none;
clear: both;
overflow: hidden;
line-height:27px;
  }
  .cat_item_name{
	width:340px;
	word-wrap: break-word;
	word-break: break-all;
	white-space: normal;
	text-align:left;
  }
  
  .cat_item_level{
	width:200px;
	text-align:left;
  }
  
  .cat_item_paixu{
	width:120px;
	text-align:center;
  }
  .cat_item_paixu input{
	width:30px;
	padding:0px;
	margin-top:3px;
	margin-left:4px;
  }
  
  #dialog_content_wrap, #dialog_content_wrap div{
	float:left;
  }
  </style>

  <div id="dialog_content_wrap" style="width:500px;float:none;margin:auto;">
    <div style="float:right;margin:10px 0px;"><a class="blue_a" style="font-weight:bold;" href="javascript:void(0);" onclick="fanhui_click('nav_dialog_second','nav_dialog_first');" >&lt;&lt;返回</a></div>
    <!--{if $type == 'product_category'}-->
    <div class="biaotou" style="width:100%;">
      <div class="biaotou_item" style="width:198px;"><span>分类层级</span></div>
      <div class="biaotou_item" style="width:198px;"><span>分类名称</span></div>
      <div class="biaotou_item" style="width:98px;"><span>操作</span></div>
    </div>
    
    <div style="width:100%;border-bottom:1px solid #e8e8e8;">
      <!--{if $catlevel1}-->
      <div style="width:100%;" name="catl1">
        <div class="tab_line" style="background-color: #FFFFD4;width:100%;">
        <div class="cat_item_level" style="text-align:center;width: 200px;height:27px;"><span></span></div>
        <div class="cat_item_name" style="text-align:center;width: 200px;"><span>所有产品</span></div>
        <div style="width:99px;">
          <div style="width:100%;text-align:center;">
	        <a href="javascript:void(0);" class="blue_a" onclick="nav_content_clicked('{$type}','0','所有产品');">选择</a>
          </div>
        </div>
        </div>
      </div>
      <!--{loop $catlevel1 $onecat_l1}-->
      <div style="width:100%;" name="catl1">
        <div class="tab_line" style="background-color: #FFFFD4;width:100%;">
        <div class="cat_item_level" style="text-align:center;width: 200px;"><span>{$onecat_l1[level]}级</span></div>
        <div class="cat_item_name" style="text-align:center;width: 200px;"><span>{$onecat_l1[name]}</span></div>
        <div style="width:99px;">
          <div style="width:100%;text-align:center;">
	        <a href="javascript:void(0);" class="blue_a" onclick="nav_content_clicked('{$type}','{$onecat_l1[cat_id]}','{$onecat_l1[name]}');">选择</a>
          </div>
        </div>
        </div>
        <!--{loop $catlevel2 $onecat_l2}-->
        <!--{if $onecat_l2[parent_id] == $onecat_l1[cat_id]}-->
        <div style="width:100%;" name="catl2">
          <div class="tab_line" style="background-color: #C4CEDF;width:100%;">
            <div class="cat_item_level" style="text-align:center;width: 200px;"><span>--{$onecat_l2[level]}级</span></div>
            <div class="cat_item_name" style="text-align:center;width: 200px;"><span>{$onecat_l2[name]}</span></div>
            <div style="width:99px;">
              <div style="width:100%;text-align:center;">
	            <a href="javascript:void(0);" class="blue_a" onclick="nav_content_clicked('{$type}','{$onecat_l2[cat_id]}','{$onecat_l2[name]}');">选择</a>
              </div>
            </div>
          </div>
          
          <!--{loop $catlevel3 $onecat_l3}-->
          <!--{if $onecat_l3[parent_id] == $onecat_l2[cat_id]}-->
          <div style="width:100%;" name="catl3">
          <div class="tab_line" style="background-color: #B7E9CD;width:100%;">
            <div class="cat_item_level" style="text-align:center;width: 200px;"><span>----{$onecat_l3[level]}级</span></div>
            <div class="cat_item_name" style="text-align:center;width: 200px;"><span>{$onecat_l3[name]}</span></div>
            <div style="width:99px;">
              <div style="width:100%;text-align:center;">
	            <a href="javascript:void(0);" class="blue_a" onclick="nav_content_clicked('{$type}','{$onecat_l3[cat_id]}','{$onecat_l3[name]}');">选择</a>
              </div>
            </div>
          </div>
          
          </div>
          <!--{/if}-->
          <!--{/loop}-->
          
        </div>
        <!--{/if}-->
        <!--{/loop}-->
      </div>
      <!--{/loop}-->
      <!--{else}-->
      <div style="float:left;width:100%;text-align:center;margin:10px 0px 10px 0px;">
        <span style="color:red;">当前没有任何分类，请添加新分类！</span>
      </div>
      <!--{/if}-->
      
    </div>
    <!--{elseif $type == 'article_category'}-->
    <div class="biaotou" style="width:100%;">
      <div class="biaotou_item" style="width:198px;"><span>分类层级</span></div>
      <div class="biaotou_item" style="width:198px;"><span>分类名称</span></div>
      <div class="biaotou_item" style="width:98px;"><span>操作</span></div>
    </div>
    
    <div style="width:100%;border-bottom:1px solid #e8e8e8;">
      <!--{if $catlevel1}-->
      <div style="width:100%;" name="catl1">
      <div class="tab_line" style="background-color: #FFFFD4;width:100%;">
        <div class="cat_item_level" style="text-align:center;width: 200px;height:27px;"><span></span></div>
        <div class="cat_item_name" style="text-align:center;width: 200px;"><span>所有文章</span></div>
        <div style="width:99px;">
          <div style="width:100%;text-align:center;">
	        <a href="javascript:void(0);" class="blue_a" onclick="nav_content_clicked('{$type}','0','所有文章');">选择</a>
          </div>
        </div>
      </div>
      </div>
      <!--{loop $catlevel1 $onecat_l1}-->
      <div style="width:100%;" name="catl1">
        <div class="tab_line" style="background-color: #FFFFD4;width:100%;">
        <div class="cat_item_level" style="text-align:center;width: 200px;"><span>{$onecat_l1[level]}级</span></div>
        <div class="cat_item_name" style="text-align:center;width: 200px;"><span>{$onecat_l1[name]}</span></div>
        <div style="width:99px;">
          <div style="width:100%;text-align:center;">
	        <a href="javascript:void(0);" class="blue_a" onclick="nav_content_clicked('{$type}','{$onecat_l1[cat_id]}','{$onecat_l1[name]}');">选择</a>
          </div>
        </div>
        </div>
        <!--{loop $catlevel2 $onecat_l2}-->
        <!--{if $onecat_l2[parent_id] == $onecat_l1[cat_id]}-->
        <div style="width:100%;" name="catl2">
          <div class="tab_line" style="background-color: #C4CEDF;width:100%;">
            <div class="cat_item_level" style="text-align:center;width: 200px;"><span>--{$onecat_l2[level]}级</span></div>
            <div class="cat_item_name" style="text-align:center;width: 200px;"><span>{$onecat_l2[name]}</span></div>
            <div style="width:99px;">
              <div style="width:100%;text-align:center;">
	            <a href="javascript:void(0);" class="blue_a" onclick="nav_content_clicked('{$type}','{$onecat_l2[cat_id]}','{$onecat_l2[name]}');">选择</a>
              </div>
            </div>
          </div>
          
          <!--{loop $catlevel3 $onecat_l3}-->
          <!--{if $onecat_l3[parent_id] == $onecat_l2[cat_id]}-->
          <div style="width:100%;" name="catl3">
          <div class="tab_line" style="background-color: #B7E9CD;width:100%;">
            <div class="cat_item_level" style="text-align:center;width: 200px;"><span>----{$onecat_l3[level]}级</span></div>
            <div class="cat_item_name" style="text-align:center;width: 200px;"><span>{$onecat_l3[name]}</span></div>
            <div style="width:99px;">
              <div style="width:100%;text-align:center;">
	            <a href="javascript:void(0);" class="blue_a" onclick="nav_content_clicked('{$type}','{$onecat_l3[cat_id]}','{$onecat_l3[name]}');">选择</a>
              </div>
            </div>
          </div>
          
          </div>
          <!--{/if}-->
          <!--{/loop}-->
          
        </div>
        <!--{/if}-->
        <!--{/loop}-->
      </div>
      <!--{/loop}-->
      <!--{else}-->
      <div style="float:left;width:100%;text-align:center;margin:10px 0px 10px 0px;">
        <span style="color:red;">当前没有任何分类，请添加新分类！</span>
      </div>
      <!--{/if}-->
      
    </div>
    <!--{elseif $type == 'out_link'}-->
    <div style="width:100%">
	    <div style="text-align: right;line-height: 30px;height: 30px;width: 140px;margin-right: 10px;"><span class="fillnamechar">链接地址：</span></div>
	    <div style="width: 230px;"><input type="text" id="out_link" name="out_link" value="" style="float:left;border-radius: 3px;width: 210px;margin-top:2px;" onkeyup="changeTip_by_val('out_link','out_link_tip',1,90);" /></div>
	    <div style="line-height:25px;color:red;font-weight:bold;margin-top:5px;margin-right:3px;font-size:14px;">*</div><div style="line-height:30px;" id="out_link_tip">1~90字</div>
    </div>
    <div style="width:100%;text-align:center;line-height:30px;margin-top:20px;">
	    <span>中英文都算1个字符。<br />填写时如果以“http://”开头，生成的链接点击后将会跳转到外部网站。<br />如果不加“http://”，生成的链接点击后不会跳转到外部网站，仍然是本网站的链接。</span>
	</div>
	<div style="width:100%;float:left;text-align:center;">
		<input type="button" value="确认" class="btnText" style="cursor:pointer;float:none;margin-top:20px;" onclick="nav_content_clicked('{$type}',$('#out_link').val(),$('#out_link').val());"/>
    </div>
    <!--{elseif $type == 'product_detail'}-->
    <div style="width:100%;">
    <table width="100%" border="0" class="stripe_tb" style="float:left;table-layout:fixed;border-spacing: 0px;">
      
      <thead style="background: url(templates/admin/images/tile_bg.png) 0 -100px;">
      <tr class="">
        <th style="width: 35%;border-left: 1px solid #ccc;">产品名称</th>
        <th style="width: 25%;">价格</th> 
        <th style="width: 30%;">所属分类</th> 
        <th style="width: 10%;">操作</th> 
      </tr> 
      </thead>  
      <tbody> 
      
      <!--{loop $products_info $oneproduct}-->
      <tr class="">
        <td>{$oneproduct[name]}</td>
        <td>售价：{$oneproduct[deal_price]}元</td> 
        <td><!--{if $oneproduct[catname]}-->{$oneproduct[catname]}<!--{else}-->未分类<!--{/if}--></td> 

        <td>
            <a href="javascript:void(0);" class="blue_a" onclick="nav_content_clicked('{$type}','{$oneproduct[product_id]}','{$oneproduct[name]}');">选择</a>
        </td> 
      </tr>
      <!--{/loop}-->

      </tbody>
    </table>
    
    
    <div style="float:left;width:100%;margin-top:30px;">
    <!--{if !$page_arr[page]}-->
      <div style="float:left;width:100%;text-align:center;">
        <span style="color:red;">当前没有任何产品，或者全部已下架，请添加新产品！</span>
      </div>
    <!--{else}-->
      <!--{template page_list_ajax}-->
    <!--{/if}-->
    </div>
    
    
    </div>
    <!--{elseif $type == 'article_detail'}-->
    <div style="width:100%;">
    <table width="100%" border="0" class="stripe_tb" style="float:left;table-layout:fixed;border-spacing: 0px;">
      
      <thead style="background: url(templates/admin/images/tile_bg.png) 0 -100px;">
      <tr class="">
        <th style="width: 40%;border-left: 1px solid #ccc;">标题</th>
        <th style="width: 20%;">作者</th> 
        <th style="width: 30%;">文章分类</th> 
        <th style="width: 10%;">操作</th> 
      </tr> 
      </thead>  
      <tbody> 
      
      <!--{loop $articles_info $onearticle}-->
      <tr class="">
        <td>{$onearticle[title]}</td>
        <td>{$onearticle[author]}</td> 
        <td><!--{if $onearticle[catname]}-->{$onearticle[catname]}<!--{else}-->未分类<!--{/if}--></td> 

        <td>
            <a href="javascript:void(0);" class="blue_a" onclick="nav_content_clicked('{$type}','{$onearticle[article_id]}','{$onearticle[title]}');">选择</a>
        </td> 
      </tr>
      <!--{/loop}-->

      </tbody>
    </table>
    
    
    <div style="float:left;width:100%;margin-top:30px;">
    <!--{if !$page_arr[page]}-->
      <div style="float:left;width:100%;text-align:center;">
        <span style="color:red;">当前没有任何文章，请添加新文章！</span>
      </div>
    <!--{else}-->
      <!--{template page_list_ajax}-->
    <!--{/if}-->
    </div>
    
    
    </div>
    <!--{elseif $type == 'custom_page'}-->
    <div style="width:100%;">
    <table width="100%" border="0" class="stripe_tb" style="float:left;table-layout:fixed;border-spacing: 0px;">
      
      <thead style="background: url(templates/admin/images/tile_bg.png) 0 -100px;">
      <tr class="">
        <th style="width: 80%;border-left: 1px solid #ccc;">标题</th>
        <th style="width: 20%;">操作</th> 
      </tr> 
      </thead>  
      <tbody> 
      
      <!--{loop $custompages_info $onecustompage}-->
      <tr class="">
        <td>{$onecustompage[title]}</td>
        <td>
            <a href="javascript:void(0);" class="blue_a" onclick="nav_content_clicked('{$type}','{$onecustompage[custompage_id]}','{$onecustompage[title]}');">选择</a>
        </td> 
      </tr>
      <!--{/loop}-->

      </tbody>
    </table>
    
    
    <div style="float:left;width:100%;margin-top:30px;">
    <!--{if !$page_arr[page]}-->
      <div style="float:left;width:100%;text-align:center;">
        <span style="color:red;">当前没有任何自定义页面，请新建自定义页面！</span>
      </div>
    <!--{else}-->
      <!--{template page_list_ajax}-->
    <!--{/if}-->
    </div>
    
    
    </div>
    
    
    <!--{else}-->
    <span>参数错误！</span>
  	<!--{/if}-->
  </div>
  
  <script type="text/javascript">
  //
  function nav_content_clicked(type, detail, detail_name)
  {
	  var type_name = '';
	  if(type == 'product_category')
	  {
		  type_name = '产品分类';
	  }
	  else if( type == 'product_detail')
	  {
		  type_name = '产品详细';
	  }
	  else if( type == 'article_category')
	  {
		  type_name = '文章分类';
	  }
	  else if(type == 'article_detail')
	  {
		  type_name = '文章详细';
	  }
	  else if(type == 'custom_page')
	  {
		  type_name = '自定义页';
	  }
	  else if(type == 'out_link')
      {
		  type_name = '外部链接';
		  //js中，如果x为空，则!x为真；如果x为0，则!x为假。跟php中还是有区别的。
		  if(!$.trim(detail) || !$.trim(detail_name))
		  {
			  alert('请输入链接地址！');
			  return;
		  }
      }
	  $("#nav_content_selected").html(type_name+" -- "+detail_name);
	  $("#nav_type_selected").val(type);
	  $("#nav_detail_selected").val(detail);
	  fanhui_click('nav_dialog_second','nav_dialog_first');
  }
  
  
  </script>
</div>

