<!--{template page_header}-->

<div class="main">

<!--{template top_menu}-->

<div class="main_middle" style="width:100%;">
<!--{template left_menu}-->

<div class="workground">
  <div class="workground-title">
    <h2>
        <span>下载列表</span>
    </h2>
  </div>
  
  <div class="workground-content scroll-div">
  
  
  
  <script type="text/javascript">
$(document).ready(function(){
	 $(".stripe_tb tr").mouseover(function(){
	 $(this).addClass("over");}).mouseout(function(){
	 $(this).removeClass("over");})
	 $(".stripe_tb tr:even").addClass("alt");
});

function all_select_click(t)
{
	//全选复选框被选中
	if($(t).attr("checked")=="checked")//注意这里不能用true来判断。
	{
		//让下面每个条目的复选框都被选中
		$("input[name=one_item_select]").attr("checked",true);
	}
	else//全选复选框被去掉
	{
		//让下面每个条目前的复选框都被去掉
		$("input[name=one_item_select]").attr("checked",false);
	}
	
}
function one_select_click(t)
{
	if($(t).attr("checked")=="checked")//注意这里不能用true来判断。
	{
		
	}
	else
	{
		//让全选复选框去除勾选
		$("#all_item_select").attr('checked',false);
	}
}

</script>
  <style type="text/css">
.stripe_tb th {
/*background: #B5CBE6;*/
color: #333;
line-height: 20px;
height: 23px;
padding: 0 8px;
text-align: left;
font-size: 12px;
	font-weight:normal;
	border-bottom: 1px #ccc solid;
	border-right: 1px solid #ccc;
}

.stripe_tb tr td{
	padding: 5px 8px;
text-align: left;
font-size: 12px;
	vertical-align: top;
}
.stripe_tb tr.alt td {
background: #ecf6fc;
}
.stripe_tb tr.over td {
background: #FEF3D1;
}

.tb_geziimg img{
	width:100px;
	margin:0px 5px 5px 0px;
}
    </style>
    
    <div style="float:left;margin-top: 5px;margin-bottom: 10px;">
      <a href="javascript:void(0);" class="addwatch" onclick="show_download_new();">
        <span><em style="">+</em>添加一个下载</span>
      </a>
    </div>
    
    <div style="margin-top:5px;margin-left: 55px;"><input type="button" value="删除选中项" class="btnText" style="cursor:pointer;float:right;margin-left:0px;" onclick="delete_selected_item('');"></div>
    
    <div style="margin-left: 349px;margin-top: 5px;"><input type="button" value="保存顺序" class="btnText" style="cursor:pointer;float:right;" onclick="save_item_paixu_num();"></div>
  
    <table width="100%" border="0" class="stripe_tb" style="float:left;table-layout:fixed;border-spacing: 0px;">
      
      <thead style="background: url(templates/admin/images/tile_bg.png) 0 -100px;">
      <tr class="">
        <th style="width: 6%;border-left: 1px solid #ccc;">全选<input id="all_item_select" type="checkbox" onclick="all_select_click(this);" style="vertical-align: middle;margin-left: 2px;" /></th> 
        <th style="width: 13%">下载标题</th>
        <th style="width: 25%">下载说明</th>
        <th style="width: 25%">下载地址</th>
        <th style="width: 10%;">下载密码</th> 
        <th style="width: 6%;">排序</th> 
        <th style="width: 15%;">操作</th> 
      </tr> 
      </thead>  
      <tbody> 
      
      <!--{loop $item_info $oneitem}-->
      <tr class="">
        <td style="text-align: center;"><input name="one_item_select" onclick="one_select_click(this);" type="checkbox" value="{$oneitem[id]}" style="margin-top:2px;"/></td> 
        <td>{$oneitem[download_title]}</td>
        <td>{$oneitem[download_des]}</td>
        <td>{$oneitem[url]}</td>
        <td>{$oneitem[password]}</td> 
        <td>
          <input type="text" name="item_paixu" data="{$oneitem[id]}" value="{$oneitem[paixu_num]}" style="width: 30px;padding: 0px;margin-top: 3px;margin-left: 4px;" />
        </td>
        <td>
            <a href="javascript:void(0);" onclick="show_download_edit('{$oneitem[id]}');" class="blue_a" target="_self">编辑</a>
            <a href="javascript:void(0);" onclick="delete_selected_item('{$oneitem[id]}');" class="blue_a" >删除</a>
            <a href="admin.php?mod=download&&act=download_detail&did={$oneitem[id]}" target="_self" class="blue_a" >下载详情</a>
        </td> 
      </tr>
      <!--{/loop}-->

      </tbody>
    </table>
    
    
    <div style="float:left;width:100%;margin-top:30px;">
    <!--{if !$page_arr[page]}-->
      <div style="float:left;width:100%;text-align:center;">
        <span style="color:red;">当前没有任何内容！</span>
      </div>
    <!--{else}-->
      <!--{template page_list}-->
    <!--{/if}-->
    </div>
    
  </div>



</div>

</div>

<script type="text/javascript">
//“添加一个下载”按钮触发
function show_download_new()
{
	  $.jBox("post:ajax.php?mod=download&act=download_new",{
			id: 'cat_dialog_first',
		    title: "添加下载",
		    width: 400,
		    height: 300
		});
}
//编辑一个下载的按钮触发
function show_download_edit(download_id)
{
	  $.jBox("post:ajax.php?mod=download&act=download_edit&download_id="+download_id,{
			id: 'cat_dialog_first',
		    title: "编辑下载",
		    width: 400,
		    height: 300
		});
}



//批量删除被勾选的留言，或者只删除单个留言
function delete_selected_item(aid)
{
	options = {
            'onClickYes':function (){
            	var aids = '';
            	if(!aid)
            	{
            		//删除被勾选的条目。得到被勾选的条目的id，组成字符串传到ajax服务端。
                	$("input[name=one_item_select]:checked").each(function(){
                		aids = aids + $(this).val() + ",";
                	});
            	}
            	else //aid不为空，说明只单独删除某一个条目
            	{
            		aids = aid;
            	}
            	
            	$.ajax({
            		type:"post",
            		async : true,//false表示同步，true表示异步
            		url:"ajax.php?mod=download&act=do_delete_items",
            		data:{aids:aids},
            		beforeSend: function(XMLHttpRequest){
            			
            		},
            		success: function(data){//data是json格式
            			
            			data = jQuery.parseJSON( data );
            			if(data.done)//删除成功
            			{
            				$.jBox.tip('删除成功', 'success');
            				setTimeout('location.reload();', 1000);//1秒后刷新页面
            				
            				return;
            			}
            			else//删除失败
            			{
            				$.jBox.tip(data.msg, 'error');
            				return;
            			}
            		}
            		});
           }
    };
	MessageBox('warn','确定要删除吗?下载者信息同时也会删除。','提示', options);
	
}

//保存排序
function save_item_paixu_num()
{
	  //找到所有name=item_paixu的input
	  var paixu_obj = new Array();
	  var i = 0;
	  $("input[name='item_paixu']").each(function(){
		paixu_obj[i] = new Array();
		paixu_obj[i] = {a_id:$(this).attr('data'), paixu_num:$(this).val()};
		i++;
		
	  });
	  if(!paixu_obj[0])
	  {
		alert('还没有内容！'); 
		return;
	  }
	  //paixu_obj这个变量，也可以这样定义：var paixu_obj = [{p_id : '7', paixu_num:'1'},{p_id:"8", paixu_num:"2"}];
	  
	  //传送门
	  $.ajax({
         		type:"post",
         		async : true,//false表示同步，true表示异步
         		url:"ajax.php?mod=download&act=save_download_paixu",
         		data:{download_paixu:paixu_obj},
         		beforeSend: function(XMLHttpRequest){
         			loadingbox();
         		},
         		success: function(data){//data是json格式
         			data = jQuery.parseJSON( data );
         			if(data.done)//成功
         			{
         				close_loadingbox();
         				$.jBox.tip('保存成功', 'success');
         				
         				setTimeout('location.reload();', 1000);//1秒后刷新页面
         				return;
         			}
         			else//保存失败
         			{
         				close_loadingbox();
         				$.jBox.tip(data.msg, 'error');
         				return;
         			}
         		}
         		});
	  
}

</script>


</div>
<!--{template page_footer}-->