<!--{template page_header}-->



<style type="text/css">

.main{
	
	background: url(templates/admin/images/loginBG.jpg) 0 0 repeat-x;
height: 827px;
margin-top: 5px;
}

.login_key{
	
width:90px;
text-align:right;
height:	25px;
line-height:25px;
float:left;
font-family:microsoft yahei;
font-size:14px;
margin-top: 5px;
}

.login_input{
	width:216px;
height:50px;
float:left;
	margin-left:13px;
	*margin-left:7px;
}

.login_input input{
	float: none;
width: 179px;
height: 24px;
line-height: 24px;
padding: 4px 10px 4px 25px;
border: 1px solid #cccccc;
font-size: 14px;
font-family: arial,"宋体";
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}

</style>


<div class="main" style="width:100%;">

<div style="width: 370px;
height: 408px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background: rgba(249,249,249,.5);
_background-color: #f9f9f9;
-webkit-box-shadow: 0 1px 8px rgba(0,0,0,.69);
-moz-box-shadow: 0 1px 8px rgba(0,0,0,.69);
box-shadow: 0 1px 8px rgba(0,0,0,.69);
float:right;
margin-top:70px;
margin-right:245px;
*background:rgb(190, 220, 230);">

<h3 style="font-family:microsoft yahei; font-size:24px;font-weight:normal;text-align:center;margin-top: 24px;">后台登录</h3>
<div style="float:left;">
<!--{eval $showval=$ua?$ua:'电子邮箱/昵称/手机号';}-->
<form action="admin.php?mod=login&act=dologin" method="post" id="loginform">
<div style="width:100%;">
<div class="login_key">账户：</div><div class="login_input"><input type="text" name="ua" value="{$showval}" style="background:#fff url(templates/admin/images/one4.jpg) no-repeat 5px 7px; color:#999;margin:0px;" defval="电子邮箱/昵称/手机号" onFocus="if(this.value==$(this).attr('defval')){this.value=''};$(this).css('color','#333');" onblur="if (value ==''){this.value=$(this).attr('defval');$(this).css('color','#999');};"/></div>
</div>
<div class="login_key">密码：</div><div class="login_input"><input type="password" name="pwd" value="" style="font-size:26px;background:#fff url(templates/admin/images/one5.jpg) no-repeat 5px 7px;"/></div>
<div style="float:left;width:100%;">
<a href="index.php?mod=forget_password" target="_blank" style="display:none;float:right;font-family:microsoft yahei;font-size: 14px;margin-right: 50px;">忘记密码？</a>
</div>
<input type="hidden" name="redirect" value="{$redirect}" />

<!--{if $errortip}-->
<div style="margin-top: 20px;margin-left: 50px;font-size: 14px;width: 267px;height: 25px;line-height: 25px;background:#fff2f2 url(templates/admin/images/icon_bg.png) no-repeat 0 -916px;border:1px solid #ff8080;text-align: center;">
{$errortip}
</div><div class="cf"></div>
<!--{/if}-->
<div style="float:left;margin-left: 45px;margin-top: 30px;height:20px;">
<label>
<input name="autologin" value="1" type="checkbox"  style="padding:0px;width:13px;height:13px;margin:0px;float: left;margin-top:4px;margin-right:4px;"/>
<span style="display:block;font-size: 14px;float: left;font-weight: normal;line-height: 20px;font-family:microsoft yahei;">下次自动登录</span>
</label>
</div>
<a href="index.php?mod=login&act=reg" style="display:none;color: #468847;float:right;margin-right: 55px;margin-top:28px;font-size: 18px;line-height: 20px;font-family:microsoft yahei;">免费注册</a>

<input id="loginbtn" onclick="loginbtn_click(this);" class="loginFormBtn" type="submit" value="登录" />
</form>
</div>
</div>

<script type="text/javascript">
function loginbtn_click(t)
{
	$(t).val("正在登录...");
	$(t).attr('disabled',true);
	$("#loginform").submit();

}

</script>


</div>



<!--{template page_footer}-->