
</div><!--mainwrap-->
<div class="footer" style="display:none;">
  <div style="width:1190px;margin:auto;float:none;">
	<ul class="footer_mid" style="float:left;">
	  <li><a href="index.php?mod=about&code=aboutus">关于我们</a></li>
	  <li>|</li>
	  <li><a href="index.php?mod=about&code=contact">联系我们</a></li>
	  <li>|</li>
	  <li><a href="index.php?mod=about&code=joinus">加入我们</a></li>
	  <li>|</li>
	  <li><a href="index.php?mod=about&code=serviceagreement">服务协议</a></li>
	  <li>|</li>
	  <li><a href="index.php?mod=about&code=advice">意见反馈</a></li>
	  
	</ul><div class="cf"></div>
	<span style="float:left;display:inline-block;margin-top:10px;">版权所有&nbsp;&nbsp;Copyright © 2014 sgezi.com All Rights Reserved</span>
	<div class="cf"></div>
	<span style="float:left;display:inline-block;margin-top:10px;">客服QQ：2970325654&nbsp;&nbsp;晒格子讨论QQ群：240380790</span>
    <div class="cf"></div>
    <span style="float:left;display:inline-block;margin-top:10px;color:#999;">建议使用chrome、IE8+浏览器，或者双核浏览器的极速（或高速）模式</span>
  </div>
</div>

<input id="current_uid_page_info" type="hidden" value="{MEMBER_ID}" />

<!--{template common_footer}-->