<style type="text/css">
.paginator a{
display: inline-block;
height: 23px;
margin: 0 5px 0 0;
text-align: center;
white-space: nowrap;
vertical-align: middle;
line-height: 23px;
	padding: 0 8px;
border: 1px solid #D3D3D3;
background: #fff;
	color: #085C9B;
}
.paginator b {
font-family: "宋体";
margin: 3px;
font-weight: 300;
}
.paginator a:hover {
border-color: #A6A6A6;
color: #868688;
}

.paginator .mod_page_etc{
	padding:0px;
	border:none;
	cursor:default;
	color: #868688;
}
.paginator a.mod_page_etc:hover{
	border:none;
}

.paginator .nouse{
	border:none;
	cursor:default;
	color: #868688;
}
</style>

<div style="float:left;width:100%;">
  <div style="float:left;text-align:center;width:100%;_margin-bottom:20px;" class="paginator">
    <!--{loop $page_arr[page] $pagekey $pageval}-->
      <!--{if $pageval[type]=='prepage'}-->
        <!--{eval $nouseclass = $pageval[href]==''?'nouse':'';}-->
        <!--{eval $href_js = $pageval[href]==''?'javascript:void(0);':$pageval[href];}-->
        <a href="{$href_js}" class="{$nouseclass}"><b>&lt;</b>上一页</a>
      <!--{elseif $pageval[type]=='pagenum'}-->
        <a href="{$pageval[href]}" >{$pageval[page_num]}</a>
      <!--{elseif $pageval[type]=='etc'}-->
        <a href="javascript:void(0);" class="mod_page_etc">...</a>
      <!--{elseif $pageval[type]=='currentpage'}-->
        <a href="javascript:void(0);" class="nouse">{$pageval[page_num]}</a>
      <!--{elseif $pageval[type]=='nextpage'}-->
        <!--{eval $nouseclass = $pageval[href]==''?'nouse':'';}-->
        <!--{eval $href_js = $pageval[href]==''?'javascript:void(0);':$pageval[href];}-->
        <a href="{$href_js}" class="{$nouseclass}">下一页<b>&gt;</b></a>
      <!--{/if}-->
    <!--{/loop}-->
    
    <!--a href="javascript:void(0);" ><b><</b>上一页</a>
    <a href="javascript:void(0);" >1</a>
    <a href="javascript:void(0);" class="mod_page_etc" >...</a>
    <a href="javascript:void(0);" >2</a>
    <a href="javascript:void(0);" >3</a>
    <a href="javascript:void(0);" >4</a>
    <a href="javascript:void(0);" >下一页<b>></b></a-->
    
  </div>
</div>