<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Default Examples</title>
		
		<script charset="utf-8" src="templates/admin/js/jquery_1.7.1.js"></script>


		
		
		
	</head>
	<body>
		
		<iframe frameborder="0" name="Iframe1" src="http://cn-v2-p0.dkn.ext.bluecomdev.net/index.php/admin/locker-room/order/editiframe/order/42140196514/key/bf4d8c1d4efaba94be53bd06baebfef368c0fd14df16617c5e2357aa0f12aed4/" width="100%" height="900">

</iframe>
		
    
    
    
    
	</body>
</html>
