<!--{template page_header}-->



<div class="mainwrap">

  <div class="main">
  
  <div style="width:100%;margin-bottom:20px;">
  
    <div>
    <!--{template leftside}-->    
    </div>
    
    
    
    <div class="main_right_wrap">
      <div class="main_right_title">
        <span>{$Breadcrumb}</span>
      </div>
      
      <div name="custompage_wrap" style="width:666px;  margin-top: 20px;padding: 0 10px 50px 10px;">
        
        <div class="richtext_show_area">
        {$cpinfo[content]}
        </div>
        
        
        
      </div>
      
    
    </div>
    
  </div>
  
  
  
  <div class="cf"></div>
  </div>



</div><!--mainwrap end-->


<!--{template page_footer}-->