<div style="float:none;margin:auto;margin-top:40px;width:840px;">
<style type="text/css">
nav#footer {
	float:left;
    width: 840px;
    margin-left: 108px;
    color: #ffffff;
    font-size: 80%;
    text-align: left;
    text-shadow: 0 1px 1px rgba(55, 97, 122, 0.5);
    font-family:microsoft yahei;
}

nav#footer ul.float_ul {
    width: 210px;
    margin-right: 50px;
    float: left;
}

nav#footer ul.float_ul li {
    margin: 0 0 14px;
    width:190px;
}

nav#footer p {
    margin: 0;
    padding-left: 15px;
    color: #ffffff;
    font-size: 16px;
    line-height: 1;
    text-align: left;
    background: url(templates/{TEMPLATE_NAME}/images/list_mark.png) no-repeat left center;
}

nav#footer ul.float_ul li ul {
    width: 190px;
    margin: 3px 0 0 15px;
    font-size: 14px;
}

nav#footer ul.float_ul li ul li {
    margin-bottom: 1px;
    width:190px;
    text-align:left;
}


nav#footer a:link, nav#footer a:visited {
    color: #ffffff;
    text-shadow: 0 1px 1px rgba(55, 97, 122, 0.5);
    text-decoration: none;
    outline: none;
}

nav#footer a:hover {
    color: #ffcc00;
    text-shadow: 0 0 2px #ff8800;
    text-decoration: none;
}
nav#footer ul.float_ul li ul li a.pngfix_child {
    margin-left: 0 0 5px 10px;
    padding-left: 10px;
    background: url(templates/{TEMPLATE_NAME}/images/list_mark_disc.png) no-repeat left center;
}

nav#footer ul.end_float_ul{
    margin-right:0px;
}


</style>

<nav id="footer">
<ul class="float_ul">
	<li><p class="pngfix"><a href="index.php">首页</a></p>
		
	</li>
	<li><p class="pngfix"><a href="index.php?mod=custompage&cpid=67">公司介绍</a></p>
		<ul>
			<li><a class="pngfix_child" href="index.php?mod=al&ac=14">公司新闻</a></li>
			<li><a class="pngfix_child" href="index.php?mod=custompage&cpid=66">发展历程</a></li>
		</ul>
	</li>
	<li><p class="pngfix"><a href="index.php?mod=custompage&cpid=52">公司特色</a></p>
		
	</li>
	
	<li><p class="pngfix"><a href="index.php?mod=custompage&cpid=63">生产环境</a></p>
		
	</li>
</ul>
<ul class="float_ul">
	
	<li><p class="pngfix"><a href="index.php?mod=custompage&cpid=53">产品介绍</a></p>
		<ul>
			<li><a class="pngfix_child" href="index.php?mod=custompage&cpid=47">LED产品加工</a></li>
			<li><a class="pngfix_child" href="index.php?mod=custompage&cpid=46">FPCA产品加工</a></li>
		    <li><a class="pngfix_child" href="index.php?mod=custompage&cpid=45">PCBA产品加工</a></li>
		    <li><a class="pngfix_child" href="index.php?mod=custompage&cpid=70">整机产品组装</a></li>
		    <li><a class="pngfix_child" href="index.php?mod=product&pid=113">日本进口天领水</a></li>
		</ul>
	</li>
	
</ul>
<ul class="float_ul end_float_ul">
    <li><p class="pngfix"><a href="index.php?mod=custompage&cpid=51">合作模式</a></p>
		<ul>
			<li><a class="pngfix_child" href="index.php?mod=custompage&cpid=71">加工模式</a></li>
			<li><a class="pngfix_child" href="index.php?mod=custompage&cpid=48">物流模式</a></li>
		</ul>
	</li>
	<li><p class="pngfix"><a href="index.php?mod=custompage&cpid=62">体系认证</a></p>
		
	</li>
	<li><p class="pngfix"><a href="index.php?mod=custompage&cpid=61">广纳贤士</a></p>
		
	</li>
	<li><p class="pngfix"><a href="index.php?mod=custompage&cpid=68">联系我们</a></p>
		<ul>
			<li><a class="pngfix_child" href="index.php?mod=advise">留言板</a></li>
		</ul>
	</li>
</ul>
</nav>
<div class="cf"></div>
</div>
