<!--{template page_header}-->
<style type="text/css">
.titlex{
	color: #0064d4;
}

.titlex:hover
{
	color:#ABA2F9;
}

.indexbox_ul{
	width:100%;
}

.indexbox_ul li{
	margin: 3px 0 11px;
	border-bottom: 1px dashed #e2e2e2;
	overflow: hidden;
	width:100%;
}

.indexbox_ul li .linkarrow{
	background: url(http://static.websiteonline.cn/website/plugin/article_list/icons/18.png) no-repeat -5px center;
padding-left: 15px;
	float: left;
margin-left: 3px;
	height: 26px;
line-height: 26px;
}
.indexbox_ul li .linkarrow a{
	color: #5a5a5a;
	display: inline-block;
font-family: Microsoft YaHei;
font-size: 14px;
}
.indexbox_ul li .linkarrow a:hover{
	color: #0064d4;
}

.indexbox_ul li .time{
	float:right;
	padding-right: 3px;
	height: 26px;
line-height: 26px;
}
p.time .wp-new-ar-pro-time{
display: inline-block;
font-family: SimSun;
font-size: 11px;
color: #929292;
font-weight: normal;
text-decoration: none;
}
</style>

<div class="mainwrap">

  <div class="main">
  
  <div style="width:100%;margin-bottom:20px;">
    
    <div style="width:284px;">
    
    
    <!--{template leftside}-->    
    </div>
    
    <div style="width:686px;min-height:200px;">
      
      <div class="main_right_wrap">
      <div class="main_right_title">
        <span>公司简介</span>
      </div>
      
      <div name="custompage_wrap" style="width:670px;  padding: 5px 10px 0 10px;">
        
        <div class="richtext_show_area" style="font-size:12px;">
        
<p><img style="width:214px;height:155px;margin-right:5px;float:right;"alt="" src="templates/{TEMPLATE_NAME}/images/for_jzlit/20140923115558_51816.jpg" width="361" align="left"></p><p><span style="font-size:small;">&nbsp; &nbsp; &nbsp; &nbsp;上海聚众力信息技术有限公司（JZL）是一家由日本留学归国人员创建的现代高新技术企业，公司总部设立于上海张江高科技园区内，注册资金1000万元</span></p><p>
	&nbsp; &nbsp; &nbsp; 上海聚众力信息技术有限公司是专业的电子产品代理商和解决方案供应商，力求为客户提供更全面，更完善的产品和服务。
</p><p><span style="font-size:small;">&nbsp; &nbsp; &nbsp; 我们代理的产品包括液晶模块，三菱激光二极管（LD）、东芝车载硬盘、NEC继电器等高端电子产品。</span></p><p><span style="font-size:small;">&nbsp; &nbsp; &nbsp; 在不断扩充代理产品线的同时，我们也一直致力于研发自有知识产权的液晶周边产品。从单VGA驱动板、逆变器开始，我们现在已可以独立研发生产工业用显示器、医疗用显示器和各类OPEN FRAME(开放式显示器)。最近，我公司更成功推出裸眼3D显示器。为此，三菱还专门斥资百万，和JZL一起成立了三菱-JZL联合实验室。</span></p><p><span style="font-size:small;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;……</span></p>

<div style="width:100%;text-align: right;"><a href="index.php?mod=custompage&cpid=40"><img src="templates/{TEMPLATE_NAME}/images/for_jzlit/more_37.jpg" width="32" height="9" border="0" style="margin-right:9px;"></a></div>
        </div>
        
      </div>
      <div class="list_bot"></div>
      </div>
      
      <div class="main_right_wrap">
      <div class="main_right_title">
        <span>推荐产品</span>
      </div>
      
      <div name="custompage_wrap" style="width:670px;  padding: 5px 10px 0 10px;">
        <style type="text/css">
      .newprod_list {
    width: 133px;
    margin: 0 16px;
    _margin: 0 17px;
    padding-bottom: 5px;
    padding-top: 6px;
    text-align: center;
}
.newprod_name {
width:100%;
    line-height: 22px;
    height: 22px;
    overflow: hidden;
    color: #2b2b2b;
    text-align:center;
}
      
      </style>
        <table class="media_grid" cellspacing="4" width="100%" style="border-collapse: collapse;border-spacing: 0;empty-cells: show;">
		<tbody>
		  <tr>			
		    <td>
            <div class="newprod_list">
				<div class="newprod_pic"><a href="index.php?mod=product&pid=60" title="B超/彩超用显示器"><img name="picautozoom" border="0" alt="B超/彩超用显示器" src="templates/{TEMPLATE_NAME}/images/for_jzlit/cp_lit.jpg" class="prodthumb" style="width: 133px; height: auto; padding: 22px 0px;"></a></div>
                <div class="newprod_name"><a href="index.php?mod=product&pid=60">B超/彩超用显示器</a></div>
                				  				                           
                    </div>
                <div class="blankbar1"></div>
			</td>
			
			<td>
            <div class="newprod_list">
				<div class="newprod_pic"><a href="index.php?mod=product&pid=67" title="东芝12.1寸裸眼3D显示器"><img name="picautozoom" border="0" alt="东芝12.1寸裸眼3D显示器" src="templates/{TEMPLATE_NAME}/images/for_jzlit/JZL2_lit.JPG" class="prodthumb" style="width: 133px; height: auto; padding: 29px 0px;"></a></div>
                <div class="newprod_name"><a href="index.php?mod=product&pid=67">东芝12.1寸裸眼3D显示器</a></div>
                				  				                           
                    </div>
                <div class="blankbar1"></div>
			</td>
					<td>
            <div class="newprod_list">
				<div class="newprod_pic"><a href="index.php?mod=product&pid=81" title="AA057VG02"><img name="picautozoom" border="0" alt="AA057VG02" src="templates/{TEMPLATE_NAME}/images/for_jzlit/AA057VG02-2_lit.jpg" class="prodthumb" style="width: 133px; height: auto; padding: 16px 0px;"></a></div>
                <div class="newprod_name"><a href="index.php?mod=product&pid=81">AA057VG02</a></div>
                				  				                           
                    </div>
                <div class="blankbar1"></div>
            
            
			</td>
					<td>
            <div class="newprod_list">
				<div class="newprod_pic"><a href="index.php?mod=product&pid=84" title="AA121XL01"><img name="picautozoom" border="0" alt="AA121XL01" src="templates/{TEMPLATE_NAME}/images/for_jzlit/AA121XL01-2_lit.jpg" class="prodthumb" style="width: 133px; height: auto; padding: 16px 0px;"></a></div>
                <div class="newprod_name"><a href="index.php?mod=product&pid=84">AA121XL01</a></div>
                				  				                           
                    </div>
                <div class="blankbar1"></div>
            
            
			</td>
		</tr><tr>			<td>
            <div class="newprod_list">
				<div class="newprod_pic"><a href="index.php?mod=product&pid=86" title="AA192AA01"><img name="picautozoom" border="0" alt="AA192AA01" src="templates/{TEMPLATE_NAME}/images/for_jzlit/AA192AA01-2_lit.jpg" class="prodthumb" style="width: 133px; height: auto; padding: 16px 0px;"></a></div>
                <div class="newprod_name"><a href="index.php?mod=product&pid=86">AA192AA01</a></div>
                				  				                           
                    </div>
                <div class="blankbar1"></div>
            
            
			</td>
					<td>
            <div class="newprod_list">
				<div class="newprod_pic"><a href="index.php?mod=product&pid=93" title="AC121SA01"><img name="picautozoom" border="0" alt="AC121SA01" src="templates/{TEMPLATE_NAME}/images/for_jzlit/AC121SA01-2_lit.jpg" class="prodthumb" style="width: 133px; height: auto; padding: 16px 0px;"></a></div>
                <div class="newprod_name"><a href="index.php?mod=product&pid=93">AC121SA01</a></div>
                				  				                           
                    </div>
                <div class="blankbar1"></div>
            
            
			</td>
					<td>
            <div class="newprod_list">
				<div class="newprod_pic"><a href="index.php?mod=product&pid=99" title="AA084XB01"><img name="picautozoom" border="0" alt="AA084XB01" src="templates/{TEMPLATE_NAME}/images/for_jzlit/AA084XB01-3_lit.jpg" class="prodthumb" style="width: 133px; height: auto; padding: 16px 0px;"></a></div>
                <div class="newprod_name"><a href="index.php?mod=product&pid=99">AA084XB01</a></div>
                				  				                           
                    </div>
                <div class="blankbar1"></div>
            
            
			</td>
					<td>
            <div class="newprod_list">
				<div class="newprod_pic"><a href="index.php?mod=product&pid=108" title="AA084VE01"><img name="picautozoom" border="0" alt="AA084VE01" src="templates/{TEMPLATE_NAME}/images/for_jzlit/AA084VE01-2_lit.jpg" class="prodthumb" style="width: 133px; height: auto; padding: 16px 0px;"></a></div>
                <div class="newprod_name"><a href="index.php?mod=product&pid=108">AA084VE01</a></div>
                				  				                           
                    </div>
                <div class="blankbar1"></div>
            
            
			</td>
		</tr><tr>			<td>
            <div class="newprod_list">
				<div class="newprod_pic"><a href="index.php?mod=product&pid=110" title="AA050AA01"><img name="picautozoom" border="0" alt="AA050AA01" src="templates/{TEMPLATE_NAME}/images/for_jzlit/AA050AA01-2_lit.jpg" class="prodthumb" style="width: 133px; height: auto; padding: 16px 0px;"></a></div>
                <div class="newprod_name"><a href="index.php?mod=product&pid=110">AA050AA01</a></div>
                				  				                           
                    </div>
                <div class="blankbar1"></div>
            
            
			</td>
					<td>
            <div class="newprod_list">
				<div class="newprod_pic"><a href="index.php?mod=product&pid=68" title="三菱激光二极管（LD）"><img name="picautozoom" border="0" alt="三菱激光二极管（LD）" src="templates/{TEMPLATE_NAME}/images/for_jzlit/LD_lit.jpg" class="prodthumb" style="width: 133px; height: auto; padding: 56px 0px;"></a></div>
                <div class="newprod_name"><a href="index.php?mod=product&pid=68">三菱激光二极管（LD）</a></div>
                				  				                           
                    </div>
                <div class="blankbar1"></div>
            
            
			</td>
					<td>
            <div class="newprod_list">
				<div class="newprod_pic"><a href="index.php?mod=product&pid=72" title="嵌入式显示器"><img name="picautozoom" border="0" alt="嵌入式显示器" src="templates/{TEMPLATE_NAME}/images/for_jzlit/121_lit.jpg" class="prodthumb" style="width: 133px; height: auto; padding: 16px 0px;"></a></div>
                <div class="newprod_name"><a href="index.php?mod=product&pid=72">嵌入式显示器</a></div>
                				  				                           
                    </div>
                <div class="blankbar1"></div>
            
            
			</td>
					<td>
            <div class="newprod_list">
				<div class="newprod_pic"><a href="index.php?mod=product&pid=74" title="JZT-2660-V4.2（带恒流源和按键板）"><img name="picautozoom" border="0" alt="JZT-2660-V4.2（带恒流源和按键板）" src="templates/{TEMPLATE_NAME}/images/for_jzlit/JZT-2660-V42_lit.jpg" class="prodthumb" style="width: 133px; height: auto; padding: 16px 0px;"></a></div>
                <div class="newprod_name"><a href="index.php?mod=product&pid=74">JZT-2660-V4.2（带恒流源和按键板）</a></div>
                				  				                           
                    </div>
                <div class="blankbar1"></div>
            
            
			</td>
		</tr>	</tbody></table>
        
      </div>
      <div class="list_bot"></div>
      </div>
      
      
      <div class="main_right_wrap">
      <div class="main_right_title">
        <span>公司风采</span>
      </div>
      
      <div name="custompage_wrap" style="width:670px;  padding: 5px 10px 0 10px;">
        
        <div style="width:100%">
      <div id="demo" style="  width: 100%;  overflow: hidden;  margin: 0px auto;">
	<table border=0 align=center cellpadding=1 cellspacing=1 cellspace=0 >
		<tr><td valign=top bgcolor=ffffff id=marquePic1>
	<table width='100%' border='0' cellspacing='0'><tr>
<td align=center><a href='attachment_article/article_131/images/content_images/20150728175021_20099.jpg' target="_blank"><img src="attachment_article/article_131/images/content_images/20150728175021_20099.jpg" width=232 height=139 border=0 style="margin-right: 10px;" title="点击察看大图"></a></td>
<td align=center><a href='attachment_article/article_131/images/content_images/20150728175431_56646.jpg' target="_blank"><img src="attachment_article/article_131/images/content_images/20150728175431_56646.jpg" width=232 height=139 border=0 style="margin-right: 10px;" title="点击察看大图"></a></td>
<td align=center><a href='attachment_article/article_127/images/content_images/20150728173146_13207.jpg' target="_blank"><img src="attachment_article/article_127/images/content_images/20150728173146_13207.jpg" width=232 height=139 border=0 style="margin-right: 10px;" title="点击察看大图"></a></td>
<td align=center><a href='attachment_article/article_127/images/content_images/20150728173159_38813.jpg' target="_blank"><img src="attachment_article/article_127/images/content_images/20150728173159_38813.jpg" width=232 height=139 border=0 style="margin-right: 10px;" title="点击察看大图"></a></td>
<td align=center><a href='attachment_article/article_131/images/content_images/20150728175520_24711.jpg' target="_blank"><img src="attachment_article/article_131/images/content_images/20150728175520_24711.jpg" width=232 height=139 border=0 style="margin-right: 10px;" title="点击察看大图"></a></td>
<td align=center><a href='attachment_article/article_131/images/content_images/20150728175536_27745.jpg' target="_blank"><img src="attachment_article/article_131/images/content_images/20150728175536_27745.jpg" width=232 height=139 border=0 style="margin-right: 10px;" title="点击察看大图"></a></td>
<td align=center><a href='attachment_article/article_130/images/content_images/20150728174831_71843.jpg' target="_blank"><img src="attachment_article/article_130/images/content_images/20150728174831_71843.jpg" width=232 height=139 border=0 style="margin-right: 10px;" title="点击察看大图"></a></td>
</tr></table>
		</td><td id=marquePic2 valign=top></td></tr>
	</table></div>
    
<script type="text/javascript">
//参考http://www.16sucai.com/2011/03/5218.html
var speed=50 
marquePic2.innerHTML=marquePic1.innerHTML 
function Marquee(){ 
if(demo.scrollLeft>=marquePic1.scrollWidth){ 
demo.scrollLeft=0 
}else{ 
demo.scrollLeft++ 
} 
} 
var MyMar=setInterval(Marquee,speed) 
demo.onmouseover=function() {clearInterval(MyMar)} 
demo.onmouseout=function() {MyMar=setInterval(Marquee,speed)} 
</script>
      
      </div>
        
      </div>
      <div class="list_bot"></div>
      </div>
    
    
    </div>
    
    
    
    
  </div>
  
  
  
  <div class="cf"></div>
  </div>


<div class="cf"></div>
</div><!--mainwrap end-->


<!--{template page_footer}-->