<!--{template common_header}-->


<script type="text/javascript">
//鼠标移到导航项上触发。弹出下一层导航。
//
function mouse_hover_nav(t)
{
	var nextul = $(t).find('ul').eq(0);
	if(nextul.find('li').length > 0)//ul有孩子节点，不是空的ul
	{
		nextul.show();
	}
	
}

function mouse_out_nav(t)
{
	$(t).find('ul').hide();
}

</script>


<div class="header">

  <!--div class="top-nav" style="background-image: url(templates/{TEMPLATE_NAME}/images/for_yuusei/top_bg.gif);"-->
    <div class="top-nav" >
    <div class="top-nav-middle" style="height:90px;position:relative;overflow: hidden;">
      <a href="index.php" target="_self"><img src="{$page_data[logo]}" style="width:441px;float:left;margin-top:10px;" /></a>
      <div style="width:200px;height:16px;line-height:16px;position:absolute;right: -12px;top: 28px;text-align: center;"><a href="http://www.jzlit.com" class="blue_a" target="_self" style="font-family:Arial;">简体中文</a><span style="color: #048EBC;color: #444;">&nbsp;|&nbsp;</span><a href="http://www.jzlit.com:8005" class="blue_a" target="_self" style="font-family:Arial;">にほんご</a><span style="color: #048EBC;color: #444;">&nbsp;|&nbsp;</span><a href="http://www.jzlit.com:8001" class="blue_a" target="_self" style="font-family:Arial;" >English</a></div>
      
    </div>
  </div>
  
  <div class="navigation" style="height: 27px;background: url(templates/{TEMPLATE_NAME}/images/for_jzlit/nav.gif) center;">
    <div class="nav-middle">
      <ul id="mainnav" >
        <!--{eval $navnum = 0;}-->
        <!--{loop $page_data[navlist][navlevel1] $onenav_l1}-->
        <!--{if $navnum<7 }-->
        <li onmouseover="mouse_hover_nav(this);" onmouseout="mouse_out_nav(this);">
          <a href="{$onenav_l1[link_url]}" target="{$onenav_l1[open_type]}">{$onenav_l1[name]}</a>
          
          <ul class="level2_popup disnon">
            <!--{loop $page_data[navlist][navlevel2] $onenav_l2}-->
            <!--{if $onenav_l2[parent_id] == $onenav_l1[nav_id]}-->
            <li onmouseover="mouse_hover_nav(this);" onmouseout="mouse_out_nav(this);">
		      <a href="{$onenav_l2[link_url]}" target="{$onenav_l2[open_type]}">{$onenav_l2[name]}</a>
		      
		      <ul class="level3_popup disnon">
		        <!--{loop $page_data[navlist][navlevel3] $onenav_l3}-->
		        <!--{if $onenav_l3[parent_id] == $onenav_l2[nav_id]}-->
		        <li onmouseover="mouse_hover_nav(this);" onmouseout="mouse_out_nav(this);">
		          <a href="{$onenav_l3[link_url]}" target="{$onenav_l3[open_type]}">{$onenav_l3[name]}</a>
		          
		          <ul class="level4_popup disnon">
		          <!--{loop $page_data[navlist][navlevel4] $onenav_l4}-->
		          <!--{if $onenav_l4[parent_id] == $onenav_l3[nav_id]}-->	          
		          <li>
		            <a href="{$onenav_l4[link_url]}" target="{$onenav_l4[open_type]}">{$onenav_l4[name]}</a>
		          </li>
		          <!--{/if}-->
		          <!--{/loop}-->
		          </ul>

		        </li>
		        <!--{/if}-->
		        <!--{/loop}-->
		      </ul>
		      
		    </li>
		    <!--{/if}-->
		    <!--{/loop}-->
          </ul>

        </li>
        <!--{eval $navnum++;}-->
        <!--{/if}-->
        <!--{/loop}-->
		<!--li onmouseover="mouse_hover_nav(this);" onmouseout="mouse_out_nav(this);">
		  <a class="  " href="#" style="">首页</a>
		  
		  <ul class="level2_popup disnon">
		    <li onmouseover="mouse_hover_nav(this);" onmouseout="mouse_out_nav(this);">
		      <a href="#">人生不如意</a>
		      
		      
		    </li>
		    <li onmouseover="mouse_hover_nav(this);" onmouseout="mouse_out_nav(this);">
		      <a href="#">人生不如意</a>
		      
		      <ul class="level3_popup disnon">
		        <li onmouseover="mouse_hover_nav(this);" onmouseout="mouse_out_nav(this);">
		          <a href="#">十有八九</a>
		        </li>
		        <li onmouseover="mouse_hover_nav(this);" onmouseout="mouse_out_nav(this);">
		          <a href="#">十有八九</a>
		          
		          <ul class="level4_popup disnon">
		            <li>
		              <a href="#">我是level4</a>
		            </li>
		            <li>
		              <a href="#">我是level4</a>
		            </li>
		          </ul>
		        </li>
		      </ul>
		    </li>
		    <li onmouseover="mouse_hover_nav(this);" onmouseout="mouse_out_nav(this);">
		      <a href="#">人生不如意</a>
		    </li>
		    <li>
		      <a href="#">人生不如意</a>
		    </li>
		  </ul>
		</li>
		<li>
		  <a class="  " href="index.php?mod=al&ac=0">公司简介</a>
		</li>
		<li>
		  <a class="  " href="index.php?mod=pl&pc=0" target="_blank">产品中心</a>
		</li>
		<li>
		  <a class="  " href="#">三菱-JZL实验室</a>
		</li>
		<li>
		  <a class="  " href="index.php?mod=custompage&cpid=33">招贤纳士</a>
		</li>
		<li>
		  <a class="  " href="index.php?mod=advise">用户留言</a>
		</li>
		<li>
		  <a class="  " href="#">联系我们</a>
		</li>	
		<li>
		  <a class="  " href="#">团队风采</a>
		</li-->	
      </ul>
    </div>
  </div>
  
  
  <style type="text/css">
/*这里是页头轮播flash的样式*/
#banner_bg {
    width: 100%;
    /*background: url(templates/{TEMPLATE_NAME}/images/for_yuusei/banner_bg.gif) repeat-x top;*/

}
  #banner{
	float:none;
  	    margin: 8px auto;
    width: 970px;
  	height:245px;
  }
  </style>
  <div id="banner_bg">
    <!-- div id="banner">
	  <div id="MODBLK_223" class="mod_block media_image mb_banner_block">
        <div class="flash_image">
          <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0" width="980" height="250">
            <param name="movie" value="templates/{TEMPLATE_NAME}/images/for_yuusei/BANNER.swf">
            <param name="quality" value="high">
            <param name="wmode" value="transparent">
            <embed src="templates/{TEMPLATE_NAME}/images/for_yuusei/BANNER.swf" width="980" height="250" quality="high" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" wmode="transparent">
          </object>
        </div>

      </div>
	</div--> 
	
	<div id="banner">
	  <div id="MODBLK_239" class="mod_block media_image mb_banner_block" style="margin-left:8px;">
        <div class="flash_image">
          <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0" width="954" height="298">
            <param name="movie" value="templates/{TEMPLATE_NAME}/images/for_jzlit/KcYzgy3R_short.swf">
            <param name="quality" value="high">
            <param name="wmode" value="transparent">
            <embed src="templates/{TEMPLATE_NAME}/images/for_jzlit/KcYzgy3R_short.swf" width="954" height="245" quality="high" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" wmode="transparent">
          </object>
        </div>
      </div>
	</div>
	
  </div>
    
    
  
  



      
    
  
  
  



</div>