<!--{template page_header}-->

<div class="mainwrap">

  <div class="main">
  
  <div style="width:100%;margin-bottom:60px;">
    <style type="text/css">
    .active{
    position: relative;
    float: left;
    margin: 0 3px -2px 0;
    border: 2px solid #4595e6;
    font: 16px/34px 'Microsoft YaHei',arial;
    vertical-align: middle;
    
    height: 36px;
    padding: 0 14px;
    border-bottom: 0 none;
    background:#DFF2F9;
    color: #333;
    }
    
    </style>
    <div style="width:100%;position: relative;z-index: 21;height: 36px;margin: 17px 0 17px 0;border-bottom: 2px solid #4595e6;">
      <span class="active">产品对比</span>
    </div>
    
    <div style="width:100%;">
      
      <style type="text/css">
.stripe_tb th {
/*background: #B5CBE6;*/
color: #333;
line-height: 20px;
height: 23px;
padding: 0 8px;
text-align: left;
font-size: 12px;
	font-weight:normal;
	border-bottom: 1px #ccc solid;
	border-right: 1px solid #ccc;
}

.stripe_tb tr td{
	padding: 5px 8px;
text-align: left;
font-size: 12px;
	vertical-align: top;
}
.stripe_tb tr.alt td {
background: #ecf6fc;
}
.stripe_tb tr.over td {
background: #FEF3D1;
}

.tb_geziimg img{
	width:100px;
	margin:0px 5px 5px 0px;
}

.stripe_tb tr  td.table_first_colum{
background: #F5F5F5;
height: 26px;
font: 16px/26px 'Microsoft YaHei',arial;
text-align: center;
vertical-align: middle;
}

.property_value{
width:100%;
font-size:16px;
font-family:microsoft yahei;
line-height:30px;
text-align:center;
color:#333;
}
    </style>
      
      <table class="stripe_tb" border="1" style="float:left;table-layout:fixed;border-spacing: 0px;border-collapse: collapse;width: 100%;border: 1px solid #e6e6e6;background:white;">
      
      <tbody> 
      <tr>
        
        <!--{if !$product_baseinfo_compare}-->
        <div style="text-align: center;width: 100%;font-size: 16px;font-family: microsoft yahei;margin-top: 30px;">您还没有选择要对比的产品，请到产品详情页添加对比产品吧！</div>
        <!--{else}-->
        <td class="table_first_colum">基本信息</td>
        <!--{loop $product_baseinfo_compare $oneproduct_id $oneprodbaseinfo}-->
        <td>
		  <div style="width:100%;margin-top: 15px;margin-bottom: 10px;text-align: center;">
		      <a href="index.php?mod=product&pid={$oneproduct_id}" target="_blank" title="查看产品详情">
		      <!--{if $oneprodbaseinfo[pic]}-->
                <img src="{$oneprodbaseinfo[pic]}"  style="width:180px;">
              <!--{else}-->
                <img src="templates/admin/images/nopic2.jpg" style="width:180px;">
              <!--{/if}-->
              </a>
		  </div>
		  <div style="width:100%;font-size:16px;font-family:microsoft yahei;line-height:20px;text-align:center;margin:10px 0;">{$oneprodbaseinfo[prod_name]}</div>
		  <div style="width:100%;font-size:12px;font-family:microsoft yahei;line-height:20px;text-align:center;margin-bottom:10px;">{$oneprodbaseinfo[prod_intro]}</div>
		  <div style="display:none;"><a href="javascript:void({$oneproduct_id});" onclick="delete_one_product_from_compare({$oneproduct_id});" class="blue_a">删除产品</a></div>
		</td> 
        <!--{/loop}-->
        <!--{/if}-->
      
      </tr>
      <!--{loop $comparelist $one_property_id $onecomparekv}-->
      <tr>
        <td class="table_first_colum">{$onecomparekv[attr_name]}</td>
        <!--{loop $onecomparekv[attr_value] $oneproperty_value}-->
        <td><div class="property_value">{$oneproperty_value}</div></td>
        <!--{/loop}-->
      </tr>
      <!--{/loop}-->
      

      </tbody>
    </table>
    
    </div>
    
  </div>
  
  
  
  <div class="cf"></div>
  </div>


<div class="cf"></div>
</div><!--mainwrap end-->


<!--{template page_footer}-->