<!--{template page_header}-->

<div class="mainwrap">

  <div class="main">
  
  <div style="width:100%;margin-bottom:20px;">
    <div>
    <!--{template leftside}-->    
    </div>
    
    <div class="main_right_wrap">
      <div class="main_right_title">
        <span>{$Breadcrumb}</span>
        
        <div style="float:right;">
          <form id="prodsearch_form" action="index.php?mod=pl&act=search" method="post" target="_self">
            <select id="keywordselect" name="keywords" style="float:left;margin-top: 6px;margin-right: 5px;"  onchange="fnChange();">
  				<option value ="应用行业">应用行业</option>
  				<option value ="医疗">医疗</option>
  				<option value ="车载仪表">车载仪表</option>
  				<option value="车载中控">车载中控</option>
  				<option value="工业">工业</option>
  				<option value="手持设备">手持设备</option>
  				<option value="电子标签">电子标签</option>
  				<option value="智能手表">智能手表</option>
  				<option value="军工">军工</option>
  				<option value="金融">金融</option>
  				<option value="POS">POS</option>
  				<option value="其他">其他</option>
			</select>
            
            <input id="keywordsinput" type="text" name="" style="display:none;height: 12px;margin-top: 5px;margin-right: 5px;box-shadow: none;float: left;" /-->
            <input id="currenthref" type="hidden" name="currenthref" value="" />
            <input type="submit" onclick="prodsearchbtn_click();" name="搜索" value="搜索" style="margin-right: 10px;margin-top: 5px;float: left;"/>
          </form>
          <script type="text/javascript">
          function prodsearchbtn_click()
          {
        	var currenthref = window.location.href;
        	$("#currenthref").val(currenthref);//用于报错时返回当前页
        	
          	$("#prodsearch_form").submit();
          }
          
          function fnChange()
          {
        	  var obj=document.getElementById('keywordselect');

        	  var index=obj.selectedIndex; //序号，取当前选中选项的序号

        	  var val = obj.options[index].text;
        	  
        	  if(val == '其他')
        	  {
        		  //让下拉列表框消息，变为一个输入框。
        		  $("#keywordselect").remove();
        		  $("#keywordsinput").show();
        		  //还要把输入框的name设为keywords
        		  $("#keywordsinput").attr('name','keywords');
        	  }
        		  
          }
          </script>
        </div>
      </div>
      
      
      <div name="productlist-area" style="width:100%;padding-bottom:50px;">
          <style type="text/css">
      .indexproduct_ul{
			width:100%;
      	margin-top:20px;
      }
      
      .indexproduct_ul li{
			width: 174px;

      	margin-left:18px;
      	padding: 15px;
border: 1px solid rgb(238, 238, 238);
      	margin-bottom: 10px;
      	overflow-x: hidden;
overflow-y: hidden;
line-height: 140%;
display: inline-block;
      	  height: 160px;
      }
      
      .indexproduct_ul li:hover{
	border: 1px solid #FF9900;
      }
      
      .indexproduct_ul li img{
	height: 110px;
width: 150px;
      }
      
      
      
      
      .indpl{
		  font-family: Microsoft YaHei;
  font-size: 14px;
  display: block;
  text-align: center;
  line-height: 140%;
      	float:left;
      	margin-top:22px;
      	  width: 100%;
      }
          </style>
      
          <div style="width:100%;">
          <ul class="indexproduct_ul">
          
          <!--{loop $productlist $productid $oneproduct}-->
          <li>
            
            <a href="index.php?mod=product&pid={$productid}" target="_blank">
              <!--{if $oneproduct[main_img][0]}-->
                <img src="{$oneproduct[main_img][0]}" >
              <!--{else}-->
                <img src="templates/admin/images/nopic2.jpg" >
              <!--{/if}-->
            </a>
            <a class="indpl" href="index.php?mod=product&pid={$productid}" >{$oneproduct[name]}</a>
            
          </li>
          <!--{/loop}-->
          
          <!--li>
            
            <a>
              <img src="http://jzlit.com/upload/image/cp_lit.jpg" >
            </a>
            <a class="indpl" href="index.php?mod=product&pid=42" >彩超用显示器</a>
            
          </li>
          
          <li>
            
            <a>
              <img src="http://jzlit.com/upload/image/AA084SB01.jpg" >
            </a>
            <a class="indpl" href="http://electronics-58.view.sitestar.cn/page105?article_id=6" >8.4寸LED背光宽温工业屏</a>
            
          </li>
          
          <li>
            
            <a>
              <img src="http://jzlit.com/upload/image/AA065VD01.jpg" >
            </a>
            <a class="indpl" href="http://electronics-58.view.sitestar.cn/page105?article_id=6" >三菱6.5寸，分辨率640*480，LED背光，700亮度</a>
            
          </li>
          
          <li>
            
            <a>
              <img src="http://jzlit.com/upload/image/JZT-2660-V4%EF%BC%88%E5%B8%A6%E6%81%92%E6%B5%81%E6%BA%90%E5%92%8C%E6%8C%89%E9%94%AE%E6%9D%BF%EF%BC%892_lit.jpg" >
            </a>
            <a class="indpl" href="http://electronics-58.view.sitestar.cn/page105?article_id=6" >DVI+VGA+AV输入接口，带恒流源</a>
            
          </li>
          
          <li>
            
            <a>
              <img src="http://jzlit.com/upload/image/JLT-8816-V5%E5%AE%BD%E6%B8%A9%E6%9D%BF%E5%8D%A1VGA+AV.jpg" >
            </a>
            <a class="indpl" href="http://electronics-58.view.sitestar.cn/page105?article_id=6" >宽温板卡，VGA+AV输入</a>
            
          </li>
          
          <li>
            
            <a>
              <img src="http://jzlit.com/upload/image/JZT-2033%EF%BC%88VGA+AV+%E9%9F%B3%E9%A2%91%EF%BC%89-.jpg" >
            </a>
            <a class="indpl" href="http://electronics-58.view.sitestar.cn/page105?article_id=6" >JZT-2033（VGA+AV+音频）</a>
            
          </li>
          
          <li>
            
            <a>
              <img src="http://jzlit.com/upload/image/AA057VG02.jpg" >
            </a>
            <a class="indpl" href="http://electronics-58.view.sitestar.cn/page105?article_id=6" >5.7寸半透半反屏，阳光下可视</a>
            
          </li>
          
          <li>
            
            <a>
              <img src="http://jzlit.com/upload/image/AA121XL01.jpg" >
            </a>
            <a class="indpl" href="http://electronics-58.view.sitestar.cn/page105?article_id=6" >12.1寸LED背光，1024*768，阳光下可视</a>
            
          </li>
          
          <li>
            
            <a>
              <img src="http://jzlit.com/upload/image/AA104XD02.jpg" >
            </a>
            <a class="indpl" href="http://electronics-58.view.sitestar.cn/page105?article_id=6" >10.4寸，高分辨率，LED背光，宽温工业屏</a>
            
          </li>
          
          <li>
            
            <a>
              <img src="http://jzlit.com/upload/image/AA104SH02.jpg" >
            </a>
            <a class="indpl" href="http://electronics-58.view.sitestar.cn/page105?article_id=6" >10.4寸800*600高亮度LED背光宽温工业屏</a>
            
          </li-->
        
          </ul>
          
          <div style="float:left;width:100%;margin-top:30px;">
		    <!--{if !$page_arr[page]}-->
		      <div style="float:left;width:100%;text-align:center;">
		        <span style="color:red;">当前没有任何产品，请添加新产品！</span>
		      </div>
		    <!--{else}-->
		      <!--{template page_list}-->
		    <!--{/if}-->
		  </div>
    
          </div>
      </div>
    
    </div>
    
  </div>
  
  
  
  <div class="cf"></div>
  </div>


<div class="cf"></div>
</div><!--mainwrap end-->


<!--{template page_footer}-->