<!--{template page_header}-->

<style type="text/css">
.left_list_ul{
	float:left;
	width:100%;
	text-align:center;
	
}

.left_list_ul li{
	float:left;
	width:100%;
	  font-family: 'Microsoft YaHei';
  font-size: 16px;
  color: rgb(51, 51, 51);
  font-weight: normal;
  font-style: normal;
	margin-bottom:20px;
}

.left_list_ul li.current{
	background-repeat: no-repeat;
	  background-color: transparent;
  background-image: url("http://tpl-2b3d6f57.pic-tpl.websiteonline.cn/upload/qfrd.png");
  background-position:  30px center;
}

.bread-crumb-wrap a{
	line-height: 36px;
  font-family: 'Microsoft YaHei';
  color: rgb(51, 51, 51);
  font-size: 16px;
}

.bread-crumb-wrap a:hover{
	
	text-decoration:underline;
}

</style>

<div class="mainwrap">

  <div class="main">
  
  <div style="width:100%;margin-bottom:20px;">
    
    <div>
    <!--{template leftside}-->    
    </div>
    
    <div class="main_right_wrap">
      <div class="main_right_title">
        <span>{$Breadcrumb}</span>
      </div>
      
      <div name="productdetail_wrap" style="width:100%;  margin-top: 20px;">
        <div name="uparea" style="width:100%;">
          <div name="pro_img_area" style="width:328px;">
            <div id="pro_bigimg_wrap" name="pro_bigimg_wrap" style="width:300px;margin:10px 14px 50px 14px;text-align:center;">
              <!--{eval $firstimg = 1;}-->
              <!--{loop $main_img_arr $onemainimg}-->
              <!--{eval $displaystyle = ($firstimg==1?"":"display:none;");}-->
              <img src="{$onemainimg}" style="max-width: 300px;{$displaystyle}" />
              <!--{eval $firstimg = 2;}-->
              <!--{/loop}-->
              <!--img src="http://img14.360buyimg.com/n1/jfs/t346/302/1010969394/231745/50f20b36/542d0e26N894372e9.jpg" style="width:300px;" />
              <img src="http://img14.360buyimg.com/n1/jfs/t352/148/1022071312/209475/53b8cd7f/542d079bN3ea45c98.jpg" style="width:300px;display:none;" />
              <img src="http://img14.360buyimg.com/n1/jfs/t274/315/1008507116/108039/f70cb380/542d0799Na03319e6.jpg" style="width:300px;display:none;" />
              <img src="http://img14.360buyimg.com/n1/jfs/t274/315/1008507116/108039/f70cb380/542d0799Na03319e6.jpg" style="width:300px;display:none;" />
              <img src="http://img14.360buyimg.com/n1/jfs/t274/315/1008507116/108039/f70cb380/542d0799Na03319e6.jpg" style="width:300px;display:none;" />
              <img src="http://img12.360buyimg.com/n1/jfs/t931/104/369995651/57333/46ba42cc/551bb64fNd266d34b.jpg" style="width:300px;display:none;" /-->
            
            </div>
            
            <div name="pro_smallimg_wrap">
              <style type="text/css">
              #spec-list{
				width:260px;  
				height: 54px;
				margin-left:14px;
              	  position: relative;
              	  overflow: hidden;
  padding: 0 20px 0 20px;
              }
              
              .lh{
					float:left;
              	/*position:absolute;
              	left:20px;*/
              	margin-left:0px;
              }
              #spec-list .lh li{
					/*width: 62px;*/
              		width:65px;
					text-align: center;
					font-size: 0;             
			  }
			  
			  #spec-list .spec-items{
					height:54px;
			  	width:100%;
			  	overflow:hidden;
			  }
			  
#spec-list .spec-items img {
  width: 50px;
  height: 50px;
  padding: 2px;
}
#spec-list .spec-items img.img-hover {
  border: 2px solid #e4393c;
  padding: 0;
}

#spec-list .spec-control {
  display: block;
  position: absolute;
  top: 0;
  width: 14px;
  height: 54px;
  background-image: url(templates/{TEMPLATE_NAME}/images/newicon20140910.png);
  background-repeat: no-repeat;
  z-index:2;
}

#spec-forward:hover {
  background-position: -28px -346px;
}
#spec-forward {
  left: 3px;
  background-position: 0 -346px;
}

#spec-backward:hover {
  background-position: -43px -346px;
}

#spec-backward {
  right: 3px;
  background-position: -14px -346px;
}
              </style>
              <div id="spec-list">
                <a href="javascript:;" class="spec-control " id="spec-forward" data="0" onclick="pro_small_pic_leftarrow_click(this);"></a>
                <a href="javascript:;" class="spec-control " id="spec-backward"  onclick="pro_small_pic_rightarrow_click(this);"></a>
                <div class="spec-items">
                  <ul class="lh" style="width:390px;">
                    <!--{eval $firstimg = 1;}-->
                    <!--{loop $main_img_arr $onemainimg}-->
                    <!--{eval $img_hover_style = ($firstimg==1?"img-hover":"");}-->
                    <li onmouseover="pro_small_img_over(this);"><img class="{$img_hover_style}" title="{$oneproduct[name]}" alt="{$oneproduct[name]}" src="{$onemainimg}" ></li>
                    <!--{eval $firstimg = 2;}-->
                    <!--{/loop}-->
                    <!--li onmouseover="pro_small_img_over(this);"><img class="img-hover" alt="苹果（Apple）iPhone 6 Plus (A1524) 16GB 金色 移动联通电信4G手机" src="http://img14.360buyimg.com/n5/jfs/t346/302/1010969394/231745/50f20b36/542d0e26N894372e9.jpg" ></li>
                    <li onmouseover="pro_small_img_over(this);"><img  alt="苹果（Apple）iPhone 6 Plus (A1524) 16GB 金色 移动联通电信4G手机" src="http://img14.360buyimg.com/n5/jfs/t352/148/1022071312/209475/53b8cd7f/542d079bN3ea45c98.jpg" ></li>
                    <li onmouseover="pro_small_img_over(this);"><img  alt="苹果（Apple）iPhone 6 Plus (A1524) 16GB 金色 移动联通电信4G手机" src="http://img14.360buyimg.com/n5/jfs/t274/315/1008507116/108039/f70cb380/542d0799Na03319e6.jpg" ></li>
                    <li onmouseover="pro_small_img_over(this);"><img  alt="苹果（Apple）iPhone 6 Plus (A1524) 16GB 金色 移动联通电信4G手机" src="http://img14.360buyimg.com/n5/jfs/t274/315/1008507116/108039/f70cb380/542d0799Na03319e6.jpg" ></li>
                    <li onmouseover="pro_small_img_over(this);"><img  alt="苹果（Apple）iPhone 6 Plus (A1524) 16GB 金色 移动联通电信4G手机" src="http://img14.360buyimg.com/n5/jfs/t274/315/1008507116/108039/f70cb380/542d0799Na03319e6.jpg" ></li>
                    <li onmouseover="pro_small_img_over(this);"><img  alt="苹果（Apple）iPhone 6 Plus (A1524) 16GB 金色 移动联通电信4G手机" src="http://img12.360buyimg.com/n5/jfs/t931/104/369995651/57333/46ba42cc/551bb64fNd266d34b.jpg" ></li-->
                  </ul>
                </div>
                
              </div>
            
            </div>
          </div>
          
          <style type="text/css">
          #product_name h1{
  line-height: 1.5em;
  overflow: hidden;
  font-weight: 700;
  font-family: arial,"microsoft yahei";
  font-size: 16px;
          	margin:0px;
          }
#product_name  .p-ad {
  font-family: arial,"microsoft yahei";
  color: #e3393c;
  font-size: 14px;
  line-height: 20px;
  word-break: break-all;
}

.tm-yen{
	  vertical-align: middle;
  color: #e4393c;
  font-size: 18px;
  font-family: Arial;
	  font-weight: bold;
  -webkit-font-smoothing: antialiased;
	  display: inline-block;
	line-height:30px;
}
.p-price{
	  display: inline-block;
  vertical-align: middle;
  color: #e4393c;
  font-size: 20px;
	  font-weight: bold;
	line-height: 30px;
	font-family:Arial;
}
.btn-compare
{
    display: inline-block;
    padding: 0 10px;
    border: solid 1px #ddd;
    height: 22px;
    line-height: 22px;
    border-radius: 2px;
    text-align: center;
    color: #323232;
    background: #f5f5f5;
    overflow: hidden;
}
.btn-compare span{
 line-height: 20px;
    text-align: center;
    color: #323232;
}
   
          </style>
          <div name="pro_base_info_area" style="width:345px;min-height:200px;">
            <div id="product_name" style="width:100%;  padding: 35px 0px 10px 0;">
              <h1>{$oneproduct[name]}</h1>
              <div id="p-ad" class="p-ad">{$oneproduct[introduction]}</div>
			  <!--{if $is_show_comparebutton>0}-->
              <div style="width:100%;margin-top:10px;"><a href="javascript:void(0);" class="btn-compare" onclick="addcompare({$oneproduct[product_id]});"><span>+ 对比</span></a></div>
              <!--{/if}-->
              <div id="product_price_area" style="display:none;width:100%;  padding-bottom: 10px;background-color:#f7f7f7;  margin-top: 15px;">
                <div style="width:100%;margin-top:10px;">
                  <div style="width:50px;text-align:right;margin-left: 20px;  line-height: 28px;">市场价：</div><div><span class="tm-yen" style="color:#DF9597;font-size:16px;">¥</span><span class="p-price" style="color:#DF9597;font-size:16px;text-decoration: line-through;">{$oneproduct[market_price]}</span></div>
                </div>
                <div style="width:100%;margin-top:10px;">
                  <div style="width:50px;text-align:right;margin-left: 20px;  line-height: 28px;">售&nbsp;&nbsp;&nbsp;价：</div><div><span class="tm-yen">¥</span><span class="p-price">{$oneproduct[deal_price]}</span></div>
                </div>
                
              </div>
            </div>
          </div>
        
        </div>
        
        <div name="downarea" style="width:100%;min-height:200px;margin-top:20px;padding-top:20px;border-top: solid 1px #f2f2f2;">
          <div class="qkbox_shadow" style="width:664px;border-radius:0;box-shadow:none;border:0px;">
            <div class="richtext_show_area">
            <!--{$oneproduct[detail]}-->
            </div>
          </div>
        </div>
        
      </div>
      
      <script type="text/javascript">
  $(document).ready(function(){
	  fresh_widget_productcompare();
	  
	  
  });
    </script>
    <div id="product_compare_widget" style="position: fixed;right: 51px;top: 102px;width: 110px;background: #fff;font-family: 'microsoft yahei',arial;"></div>
    </div>
    
  </div>
  
  
  
  <div class="cf"></div>
  </div>


<div class="cf"></div>
</div><!--mainwrap end-->
<script type="text/javascript">
function pro_small_img_over(t)
{
	$(t).parent('ul').find('li').find('img').removeClass('img-hover');
	$(t).find('img').addClass('img-hover');
	
	//大图跟着变动
	var ind = $(t).index(); //小图的位置。从0开始。
	$("#pro_bigimg_wrap img").css('display','none');
	$("#pro_bigimg_wrap img").eq(ind).css('display','inline');
	
	
	
}

function pro_small_pic_leftarrow_click(t)
{
	var hide_left = parseInt($("#spec-forward").attr('data')); //当前小图片已经向左边移动的个数，也就是有几张小图片已经隐藏在了左边。
	
	var num_small_pic = $("#spec-list .lh li").length;//小图片个数
	
	var num_max_left = num_small_pic - 4;//小图向左移动，最多的次数。4是小图片能够看到的个数。
	if(hide_left >= num_max_left)
	{
		//这种情况下，不能再向左移。
		return;
	}
	
	//可以向左移动。
	var new_left_pix = (hide_left+1) * (-65);//每次向左移动，是向左移动65px.
	
	$("#spec-list .lh").animate({'margin-left':new_left_pix+"px"},"fast");
    //$("#spec-list .lh").css('margin-left', new_left_pix+'px');
	
	
	$("#spec-forward").attr('data',hide_left+1);
	
	
	
	/*
	var max_pix_left = -(num_max_left * 65);//每次向左移动，是向左移动65px.
		
    var currentleft = parseInt($("#spec-list .lh").css('margin-left'));
	
	if(currentleft <= max_pix_left)
	{
		return;
	}
	
    var newleft = currentleft - 65;
    */
    
}

function pro_small_pic_rightarrow_click(t)
{
	
	 var hide_left = parseInt($("#spec-forward").attr('data'));//当前小图片已经向左边移动的个数，也就是有几张小图片已经隐藏在了左边。
	 if(hide_left == 0)
	 {
		 //左边没有图了，不能再向右移。
		 return;
	 }
	 
	 //可以向右移动。
	 var new_left_pix = (hide_left-1) * (-65);//每次向右移动，是向右移动65px.
	
	 $("#spec-list .lh").animate({'margin-left':new_left_pix+"px"},"fast");
     //$("#spec-list .lh").css('margin-left', new_left_pix+'px');
	
	
	 $("#spec-forward").attr('data',hide_left-1);
	
	
	
	/*
	 var currentleft = parseInt($("#spec-list .lh").css('margin-left'));
	 
	 if(currentleft >= 0)
     {
		 //说明最左边的小图片已经显示，不能再往右移动了。
	  	return true;	 
	 }
	 var newleft = currentleft + 65;
	 $("#spec-list .lh").animate({'margin-left':newleft+"px"},"fast");
	 //$("#spec-list .lh").css('margin-left', newleft+'px');
	 */
}

//将当前产品id，存入cookie，即加入对比列表。
function addcompare(product_id)
{
	//读取cookie中，key为product_compare_list的内容
	//该键的内容格式应是以英文逗号隔开的字符串，比如：20,22,43。每一个数字都是product_id。
	var product_compare_list = _getCookie('product_compare_list');//可能读出空。
	var arr = [];
	if(product_compare_list)
	{
		arr = product_compare_list.split(',');//将字符串转化为数组。当product_compare_list为空时，会报错Cannot read property 'split' of null。
	}
	else		
	{
		arr = [];
	}
	
	//最多添加4个产品到对比列表。
	if(arr.length >= 4)
	{
		alert('最多只能添加4个产品进行对比。');
		return;
	}
	
	//判断当前product_id是否存在于arr中，如果不存在则插入到arr的最后
	if($.inArray(String(product_id),arr)==-1) {
	　　arr.push(product_id);
	}
	else
	{
		//当前product_id已存在于arr中，则提示已存在
		alert('当前产品，已存在于对比列表中。');
		return;
	}
	
	//JavaScript中数组是无法直接保存为Cookie的（PHP可以），那要将数组转存为字符串，再保存在Cookie
	var pids_str = arr.join(','); 
	
	//写cookie
	_setCookie('product_compare_list',pids_str,7);

	//刷新挂件
	fresh_widget_productcompare();
	
	alert('加入对比成功。');
}

//用js封装一个写cookie的函数。作为基础函数。参考：http://www.jb51.net/article/64330.htm
//参数name是cookie名称，value是cookie值，day是过期天数。
function _setCookie(name,value,day)
{
	if(!day)
	{
		day = 0;
	}
	var exp = new Date();
	//exp.setTime(exp.getTime() + Days*24*60*60*1000);//写法一，按毫秒设置过期时间。
	exp.setDate(exp.getDate()+day);//写法一，按天数来设置过期时间。day天过期
	document.cookie = name + "="+ escape (value) + ";expires=" + exp.toGMTString();
}

//用js封装一个读cookie的函数。作为基础函数
//参数name是cookie名称。
function _getCookie(name)
{
	var arr,reg=new RegExp("(^| )"+name+"=([^;]*)(;|$)");
	if(arr=document.cookie.match(reg))
	return unescape(arr[2]);
	else
	return null;
}
	
//用js封装一个删除cookie的函数。作为基础函数
//参数name是cookie名称。
function _delCookie(name)
{
var exp = new Date();
exp.setTime(exp.getTime() - 1);
var cval=_getCookie(name);
if(cval!=null)
document.cookie= name + "="+cval+";expires="+exp.toGMTString();
}

//对一个数组进行去重。参考http://www.linuxidc.com/Linux/2015-07/119985.htm
function unique_array(arr)
{
	//比如var arr=[0,2,3,5,6,9,2];
	var new_arr=[];
	for(var i=0;i<arr.length;i++) {
	　　var items=arr[i];
	　　//判断元素是否存在于new_arr中，如果不存在则插入到new_arr的最后
	　　if($.inArray(items,new_arr)==-1) {
	　　　　new_arr.push(items);
	　　}
	}
	return new_arr;
}
	
//加载产品对比框这个widght
function fresh_widget_productcompare()
{
	//该ajax是为了加载一个widget
	$.ajax({
  		type:"post",
  		async : true,//false表示同步，true表示异步
  		url:"ajax.php?mod=frontsite_widget&act=get_widget_productcompare",
  		data:{},
  		beforeSend: function(XMLHttpRequest){

  		},
  		success: function(data){//data就是widget的html
  			
  			if(data)//widget获取成功
  			{
  				//把data放在#newsbar_wrap下面
  				$('#product_compare_widget').html(data);
  				return;
  			}
  			else//widget获取成功失败
  			{				
  				return;
  			}
  		}
  		});
}
</script>

<!--{template page_footer}-->