<div class="widget_product_center_wrap">
      <style type="text/css">
      .widget_product_center_wrap ul {
      margin-left:7px;
      
      }
      .widget_product_center_wrap li{
      margin-left:7px;
      }
      
      .level1_popup li{
      float:left;
      width:100%;
      text-align:left;
    text-indent: 10px;
    margin-bottom: 5px;
    border-bottom: #ccc 1px dashed;
    line-height: 30px;
      }
      
    .level1_popup  .bullet{
        padding-left: 10px;
    }
    .level1_popup  .bullet_plus {
    cursor: pointer;
        padding-left: 10px;
    background: url(templates/{TEMPLATE_NAME}/images/for_jzlit/plus.gif) center left no-repeat;
}
	.level1_popup  .bullet_minus {
	cursor: pointer;
        padding-left: 10px;
    background: url(templates/{TEMPLATE_NAME}/images/for_jzlit/minus.gif) center left no-repeat;
	}
	

	.level2_popup li, .level3_popup li, .level4_popup li{
	border-bottom:0px;
	}
      </style>
      <ul class="level1_popup" style="float:left;width:100%;">
        <!--{loop $pagedata[catlist][catlevel1] $onecat_l1}-->
		<li>
		  <!--{if $onecat_l1[haschild]}-->
		  <span class="bullet_plus" onclick="unfolder_tree(this);">&nbsp;</span>
		  <!--{else}-->
		  <span class="bullet">&nbsp;</span>
		  <!--{/if}-->
		  <a href="index.php?mod=pl&pc={$onecat_l1[cat_id]}" target="_self">{$onecat_l1[name]}</a>
		  
		  <!--{if $onecat_l1[haschild]}-->
		  <ul class="level2_popup disnon">
		    <!--{loop $pagedata[catlist][catlevel2] $onecat_l2}-->
		    <!--{if $onecat_l2[parent_id] == $onecat_l1[cat_id]}-->
		    <li>
		      <!--{if $onecat_l2[haschild]}-->
		      <span class="bullet_plus" onclick="unfolder_tree(this);">&nbsp;</span>
		      <!--{else}-->
		  	  <span class="bullet">&nbsp;</span>
		  	  <!--{/if}-->
		      <a href="index.php?mod=pl&pc={$onecat_l2[cat_id]}" target="_self">{$onecat_l2[name]}</a>
		      
		      <!--{if $onecat_l2[haschild]}-->
		      <ul class="level3_popup disnon">
		        <!--{loop $pagedata[catlist][catlevel3] $onecat_l3}-->
		        <!--{if $onecat_l3[parent_id] == $onecat_l2[cat_id]}-->
		        <li>
		          <!--{if $onecat_l3[haschild]}-->
		          <span class="bullet_plus" onclick="unfolder_tree(this);">&nbsp;</span>
		          <!--{else}-->
		          <span class="bullet">&nbsp;</span>
		          <!--{/if}-->
		          <a href="index.php?mod=pl&pc={$onecat_l3[cat_id]}" target="_self">{$onecat_l3[name]}</a>
		          
		          <!--{if $onecat_l3[haschild]}-->
		          <ul class="level4_popup disnon">
		            <!--{loop $pagedata[catlist][catlevel4] $onecat_l4}-->
		            <!--{if $onecat_l4[parent_id] == $onecat_l3[cat_id]}-->
		            <li>
		              <span class="bullet">&nbsp;</span>
		              <a href="index.php?mod=pl&pc={$onecat_l4[cat_id]}" target="_self">{$onecat_l4[name]}</a>
		            </li>
		            <!--{/if}-->
		            <!--{/loop}-->
		            
		          </ul>
		          <!--{/if}-->
		          
		        </li>
		        <!--{/if}-->
		        <!--{/loop}-->
		        
		      </ul>
		      <!--{/if}-->
		      
		    </li>
		    <!--{/if}-->
		    <!--{/loop}-->
		    
		  </ul>
		  <!--{/if}-->
		</li>
        <!--{/loop}-->
      </ul> 
      
      <script type="text/javascript">
      function unfolder_tree(t)
      {
    	  //如果当前是加号。
    	  if($(t).hasClass('bullet_plus'))
    	  {
    		  //自身的加号，换成减号。
        	  $(t).removeClass('bullet_plus');
        	  $(t).addClass('bullet_minus');
        	  
        	  //展开自己的孩子树
    		  //找到自己孩子中的第一个ul
    		  $(t).siblings('ul:eq('+0+')').show();
    		  
        	  return;
    	  }
    	  
    	  //如果当前是减号。
    	  if($(t).hasClass('bullet_minus'))
    	  {
    		  //自身的减号，换成加号。
        	  $(t).removeClass('bullet_minus');
        	  $(t).addClass('bullet_plus');
        	  
        	  //收起自己的孩子树
        	  //找到自己孩子中的第一个ul
        	  $(t).siblings('ul:eq('+0+')').hide();
        	  
        	  return;
    	  }
    	  
      }
      </script>
</div>